[2019-11-04 09:33] SVronskiy opened #9 "zfs-localpv installation"
I get errors after zfs-localpv installation on ubuntu 18.04.3.

[code]

After applying sc, pvc, fio.yaml I get pods and pvc in pending state, not able to make it run.

[2019-11-04 09:42] pawanpraka1 commented on #9
can you share the setup details like what kubernetes version you are using, what kind of cluster it is, like gke or rancher based cluster. Which  ZFS version you are trying. Also could you please share o/p of `kubectl get pods -n kube-system -l role=openebs-zfs`?

[2019-11-04 10:02] pawanpraka1 commented on #9
just wanted to make note of one thing here, the README is not updated, you have to use "zfs-localpv" as provisioner instead of "openebs.io/zfs".

Please use this storage class and see if this resolves the issue :-
[code]

[2019-11-04 10:18] SVronskiy commented on #9
Thank you for help!

Indeed, correcting sc.yaml to "provisioner: zfs-localpv" works for me. Please correct readme.

[2019-11-04 10:56] pawanpraka1 commented on #9
Thanks @SVronskiy for confirming. Yes, there is a plan to update the README, there are a lot of changes done in the repo, There is one final change pending, once that is merged I'll update the README.  Thanks.

[2019-11-05 15:16] SVronskiy commented on #9
I'm using local kubernetes cluster 16.2,

Installed  kubectl apply -f zfs-localpv/deploy/zfs-operator.yaml
Than waited while all container starts kubectl get pods -n kube-system -l role=openebs-zfs
Removed "allowedTopologies"and increased size of pvc, and finally installed kubectl apply -f zfs-localpv/deploy/sample/fio.yaml

I've created 4Gb file in /datadir of pod by running fio, but it doesn't s

[2019-11-05 16:31] pawanpraka1 commented on #9
@SVronskiy, could you please share storage class, pvc and fio yaml? Also can you share the o/p of :
1. kubectl get po
2. kubectl get zv -n openebs
3. kubectl logs -f openebs-zfs-controller-0 -n kube-system -c openebs-zfs-plugin

[2019-11-05 17:34] pawanpraka1 commented on #9
from the lsblk o/p inside fio pod, I can see that zvol is there :-
*zd0*    230:0    0   10G  0 disk /datadir

By any chance you are checking the wrong node? Check `kubectl get po -owide` and see where fio pod is running, and go to that node and check the `zfs list`  output.

In case if you are checking the correct node and volume is not there, please share the details as I have asked in my previo

[2019-11-06 16:04] SVronskiy commented on #9
I've found zfs disk on another kubernetes note, speed of writing to db is normal.
Thanks again.

[2019-11-06 16:04] #9 closed

[2020-01-08 12:56] pawanpraka1 opened #33 "Handle situation when ZFS pool is full."
When ZFS pool is full, it may lead to pool unavailable/not-accessible case. We should avoid going into this state.

[2020-01-08 12:56] pawanpraka1 opened #120 "Handle situation when ZFS pool is full."
When ZFS pool is full, it may lead to pool unavailable/not-accessible case. We should avoid going into this state.

[2020-01-08 12:57] pawanpraka1 opened #34 "Add support to send usage statistics - volume created / deleted."

[2020-02-12 16:42] w3aman opened #42 "Volume should not be provisioned on the nodes which are marked as noScheduled"
**what happened:**
- zpool was created on all of the worker nodes where application pods can be scheduled.
- When volume was provisioned PV  scheduling was created on master node which in general marked as a noSchedule node. Because of that PV which is created on master node, application pod remains in Pending state as it doesn't get volume.
- FYI in storage class spec under allowedTopologies fiel

[2020-02-12 16:42] w3aman opened #47 "Volume should not be provisioned on the nodes like master node which are marked as noScheduled"
**what happened:**
- zpool was created on all of the worker nodes where application pods can be scheduled.
- When volume was provisioned PV  scheduling was created on master node which in general marked as a noSchedule node. Because of that PV which is created on master node, application pod remains in Pending state as it doesn't get volume.
- FYI in storage class spec under allowedTopologies fiel

[2020-02-17 15:13] freym commented on #42
Hi we have the same problem.
Is possible to use an other node label than the hard coded Label "kubernetes.io/hostname" under allowedTopologies for a StorageClass ?
For example "node.kubernetes.io/node" or some custom Labels.

[2020-02-17 17:31] pawanpraka1 commented on #42
@freym, thanks for trying out zfs-locapv. Could you please explain more about your use case and why you want to use different key?

Right now, we support only one topology key "kubernetes.io/hostname". We can avoind provisioning of PV on the master using fowllowing 2 ways
1. Since OpenEBS ZFS driver does not know anything about taints and toleration so for this master is a valid candidate for prov

[2020-02-18 07:55] freym commented on #42
Yes both workarounds help to solve the problem: "Avoid provisioning of PV on the master". (The first solution is a bit cumbersome if you have a lot hosts or the number changes constantly when you use a dynamic provisioner)

We have two other use cases:

1. We use multiple Machines with different zpool configurations (SATA/SAS/SSD/NVME only or mixed Pools). All Machines are tagged with: zpool/hdd_t

[2020-02-19 10:24] w3aman opened #103 "Deletion of zfspv-snapshot stucked when cloned-pvc is not in bound state (i.e. pendig state)"
## Description

Created the clone from the snapshot of zfspv. But this cloned-pvc is in pending state due to volumeBinding mode is set as `waitForFirstConsumer`.
Now if we try to delete snapshot while clone-pvc is in pending this deletion task gets stuck. Not able to delete the snapshot.
## Expected Behavior

Snapshot deletion should not stuck when pvc is in pending state.
## Current Behavior

Sna

[2020-03-02 03:45] zimmertr opened #119 "Support for deploying to CentOS"
## Description

The `zfs-Operator` manifest is incompatible with ZFS. After deployment some hostPath references to libraries fail.

[code]

## Context
I use CentOS/RHEL in production not Ubuntu.

## Possible Solution
This [manifest](https://gist.github.com/zimmertr/e177f4db6cea1b1960af32db210b384b) with modified libraries was sent to me via Slack and is deploying successfully.

[2020-03-10 07:26] pawanpraka1 commented on #47
@freym sorry for the delay. There are two things probably we can (after discussing it internally and with CSI community)
1. Change the key from 'kubernetes.io/hostname" to some unique name which is not present on the node. Since this label is already present on the master node, so because of that this is being considered and the driver is scheduling the PV on that node. We will change the key to "

[2020-03-10 10:00] w3aman opened #55 "quota is not set for the cloned volume in case of zfs file system"
**what happened:**
Deploy application with pvc of 2Gi. After exec into the application if we do `df -h` we see the correct claimsize on mount point.
[code]
But when tried to clone the volume and used it, exec into application show `df -h` as some different size which is not the clone volume size. In my case it is showing the zpool capacity.

[code]
**Note that:**
This above scenario is with only z

[2020-03-10 10:13] w3aman opened #56 "Volume is not able to mount/attach in case of "xfs" file system due to duplicate UUID"
**what happened:**
i provisioned volume with fstype as "xfs" in storageclass. Application was succesfully deployed. When i tried to clone the volume, pvc gets bound but application stuck in container creating state.
Giving error as below:
[code]
Storage class yaml is used as below:
[code]

Because of duplicate UUID volume mount is getting failed in case xfs file system.
To avoid this mountOption a

[2020-03-12 16:33] #55 closed

[2020-03-13 10:59] w3aman commented on #55
After using the image for zfs-driver as `quay.io/openebs/zfs-driver:v0.5.0-RC2` and onwards didn't hit this issue with zfs-file system.
Performed the same process as above and confirmed that size at mountpoint in case for original pvc and cloned pvc was equal.
Thanks !! @pawanpraka1

[2020-03-19 07:07] #56 closed

[2020-03-21 13:06] stevefan1999-personal opened #67 "Cannot create ZFS volume due to outdated glibc"
[code]
I'm running on the latest Proxmox 6 with pre-populated data

[2020-03-21 14:43] pawanpraka1 commented on #67
@stevefan1999-personal, thanks for this issue. Can you please elaborate a little bit on your use ase to help us understand more.

[2020-03-21 15:25] stevefan1999-personal commented on #67
@pawanpraka1 very simple: in the zfs plugin container pod you linked the libzfs from the host (in presumably bare metal environment), your host have a pretty new version of zfs (0.8) so it links with newer essential libraries (in this case glibc >= 2.28), and unfortunately the base environment in the container cannot support that new essential library (glibc == 2.24? starting from 19.04 ubuntu use

[2020-03-21 15:33] pawanpraka1 commented on #67
@stevefan1999-personal , yes that is clear. Right not we support Ubuntu 18.04 only but the plan is to support for every other OS and their version. currently focus is to support it for Ubuntu and CentOS.

How do you want to use zfs-localpv in your case, what is the infra and setup are you looking for any specific feature? This project is in it's early stage and we need user feedback to put this pr

[2020-03-21 16:03] stevefan1999-personal commented on #67
@pawanpraka1 well I'm currently researching on OpenEBS -- right now I have single node but I might expand it later on, so I'm looking for sustainable development actually.

I know that zfs-localpv might not be the right thing but I'm curious to see its development, as I have used a similar local ZFS provisioner before. Now that I need volume snapshots and fine-grained control I considered it the t

[2020-03-21 16:22] pawanpraka1 commented on #67
Can you please raise an issue for NFS support? We will put it in our roadmap. Thanks for trying out zfs-localpv project .

[2020-03-21 17:11] stevefan1999-personal opened #69 "Invest on ZFS + NFS combination"
Ditto as title, we could use ZFS and NFS with great experience.
Conceptual code:
[code]

[2020-03-26 22:38] jemershaw opened #72 "Auto provisioning with k3s"
I am trying to use k3s to deploy the zfs-localpv but it seems like everytime I try to deploy https://github.com/openebs/zfs-localpv/blob/master/deploy/sample/fio.yaml I have to manually create the dataset on the zpool. I'm not sure if this is due to k3s removing most of the extra bits k8s have in it or not.

I also tried changing the provisioner to zfs-localpv vs zfs.csi.openebs.io and that didn't

[2020-03-27 03:08] jemershaw commented on #72
I believe this is a zfs root problem because it can't find /sbin/zfs even though the md5sum is correct it just can't execute the binary.

[2020-03-27 04:38] jemershaw commented on #72
It isn't a zfs root problem -- This is a glibc difference -- the container is using libc-2.27 but my host is using 2.28. Only solution around this for me would be to build the images using a different container.

[2020-03-27 04:57] pawanpraka1 commented on #72
@jemershaw , I guess you are facing this issue : https://github.com/openebs/zfs-localpv/issues/67. There is already PR for this https://github.com/openebs/zfs-localpv/pull/68. Just to confirm can you paste o/p of command "ldd `which zfs`". Also could you let us know what is your use case? How do you want to use zfs-locapv, what the setup and other details in this bug?

[2020-03-27 08:17] jemershaw commented on #72
@pawanpraka1 Thanks -- That partially would fix my problem. I'm running void linux and it seems like the correct volume mounts would have to be like below.

[code]
I also testing the above with `ubuntu:19.10` and `ubuntu:rolling` and it works.
Host OS: `Void Linux`
Host Version: `5.4.19_1 #1 SMP PREEMPT Wed Feb 12 09:45:49 UTC 2020 x86_64 GNU/Linux`
Host glibc: `glibc-2.30_1`

Please let me know o

[2020-03-28 17:01] platten opened #74 "Support for storage on BSD/FreeNAS"
Hello,

It would be great to be able to install zfs-localpv as part of a FreeNAS plugin, and have it provision/manage storage for Kubernetes cluster. It would be so much cleaner than using the iSCSI  https://github.com/travisghansen/freenas-iscsi-provisioner or NFS https://github.com/nmaupu/freenas-provisioner solutions out there.

Thanks,
Paul

[2020-03-28 17:42] kmova commented on #74
@platten, thank you for suggesting this!  It would be great to add it.

Could you please explain the use case a little more? How do you foresee using FreeNAS with Kubernetes? For instance:
(a) Will FreeNAS be installed within K8s cluster, on the Kubernetes worker node (or)
(b) Use it as Out of cluster mode.

[2020-03-28 17:46] platten commented on #74
Hello Kiran, I would see FreeNAS sitting outside of K8s and providing storage services for the K8s cluster (with a control plane/API running on K8s to request provisioning from FreeNAS and connect the storage to the pods).

[2020-03-28 18:00] kmova commented on #74
If FreeNAS is running outside of the cluster, the Kubernetes worker node will need to access the storage over the network. It has to be either NFS or iSCSI or any other protocol that FreeNAS supports.

- control plane (CSI driver) will run on K8s - manage the provisioning of volume.
- node component ( CSI driver) also running on K8s - will have to attach/detach the volume using either NFS or iSCSI

[2020-03-28 21:40] jemershaw commented on #67
I can confirm that everything works with 19.10 image -- if anyone wants to use it you can change your image to `jemershaw/zfs-driver:latest`

[2020-03-30 12:22] #67 closed

[2020-03-31 10:54] pawanpraka1 commented on #72
@jemershaw, jfyi PR https://github.com/openebs/zfs-localpv/pull/68 has been merged.

[2020-04-11 21:32] spencergilbert opened #79 "Pod creation problems due to slow mounting/attaching"
We have 28 total nodes (3 masters, 25 worker)
Each node has 48 cores, 252GB ram

~228 zfs volumes (305 including old path volumes)
~212 volumeattachments

[code]

[2020-04-13 18:01] pawanpraka1 commented on #79
Analysis so far => The problem seems to be related to k8s, ZFS-LocalPV seems to be fine. K8s services are taking too long to create the volumeattachment object, which will attach the volume to the node. the pod will be stuck in ContainerCreating state, until volumeattachment object has been created. Once it is created the pod will come into running state.

[2020-04-15 21:38] spencergilbert commented on #79
following this https://github.com/kubernetes/kubernetes/issues/84169#issuecomment-545692734 setting attach-detach-reconcile-sync-period to 300s improves the situation. Perhaps LIST_VOLUMES_PUBLISHED_NODES should be implemented?

[2020-04-16 02:12] pawanpraka1 commented on #79
[code]
Discussed here :- https://github.com/kubernetes/kubernetes/issues/84169

[2020-04-16 06:56] pawanpraka1 opened #84 "add support to have custom topology key for ZFSPV"

[2020-04-20 05:23] pawanpraka1 opened #86 "Support for volume backup and restore to remote location."
fixed

ZFS-LocalPV : https://github.com/openebs/zfs-localpv/pull/162
Velero Plugin : https://github.com/openebs/velero-plugin/pull/102

[2020-04-20 05:26] pawanpraka1 opened #87 "moving ZFSPV API version to v1"
ZFSPV is using v1alpha1 apiversion for the CRDs. Now since we are moving it to beta, we should change the api version to v1 for zfsvolume and zfssnapshot CRDs.

[2020-04-22 06:04] w3aman opened #88 "pod restarts on a loaded setup seen to cause data loss."
I have 200s of zfs-Local persistent volumes. After restarting the application pods in some of the pods (in my case 4) data is lost which i dumped in starting.
When i retried the whole scenario i didn't hit this issue at this point where i am restarting the pods with parent volumes. I have the snapshot for the volumes. when i cloned the volume and restarted all application pods (consuming parent vo

[2020-04-22 06:44] w3aman commented on #79
I reproduced this issue with 200s of volumes. i saw that when this no increases Volume attachment is getting very slow. I've some stats regarding this timings.
[code]
To overcome this issue we are avoiding the creation of volumeattachment object as it is not required for ZFSPV as of now. Refer the PR: https://github.com/openebs/zfs-localpv/pull/85

To validate this PR i reproduced the scenario wit

[2020-04-22 08:26] pawanpraka1 commented on #88
When you change the mountpoint property to none, ZFS automatically umounts the file system.     When we delete the pod, we get the unmount request for the old pod and mount requets for the new pod. When unmount is done by the driver and system is slow in processing the umount request for the volume, the driver assumes that unmount has done and proceeded to delete the mountpath,
as unmount has not

[2020-04-22 09:21] pawanpraka1 commented on #88
steps for getting into this issue :
1.  deploy pod with zfs volume
2.  restart pod
3.  old pod's unmount done for the moountpath, but system is slow in processing it
4.  zfs driver is not aware that system is still processing the unmount request. The driver will procedd to delete the old mountpath and it will use os-removeall which will delete the data also as removeall will delete everything insi

[2020-04-22 18:19] #88 closed

[2020-04-24 07:17] pawanpraka1 opened #93 "adding grafana dashboard for ZFSPV"

[2020-04-26 14:21] w3aman commented on #79
So this PR https://github.com/openebs/zfs-localpv/pull/85 now been tested on three k8s versions (1.16 , 1.17 and 1.18) which resolves this issue https://github.com/openebs/zfs-localpv/issues/79.
As a update for validation of the PR deletion of volumeattachment is not making any regression with zfs-volumes. And avoiding the creation of volume attachement object is making volume mouting fast. As a r

[2020-04-29 16:09] pardhasm opened #100 "open ebs node installation failling with registration error"
Hi,

I followed the following article https://openebs.io/blog/openebs-dynamic-volume-provisioning-on-zfs/ to install zfs-localpv in my K8s cluster.

It keeps failing with the following error.

[code]

I haven't modified anything. Using the vanilla config

[2020-04-29 16:22] pawanpraka1 commented on #100
@pardhasm, I think your setup has different nodename and hostname. The driver is tryiing to update the node lable "kubernetes.io/hostname" with the value as "ip-10-99-90-189", but it already has different label on the node. Can you verify this.
[code]

I have already planned to fix this, waiting for https://github.com/openebs/zfs-localpv/pull/94 to be merged.

[2020-04-29 16:40] pawanpraka1 commented on #47
@freym I have raised the PR(https://github.com/openebs/zfs-localpv/pull/94) to support custom keys. We can now label the nodes and then deploy the ZFS-LocalPV driver. The driver will support all the keys that node has.

[2020-04-29 17:04] pawanpraka1 commented on #79
fixed to issue by avoiding the volumeattachment object (https://github.com/openebs/zfs-localpv/pull/85). Now we can see volumes are getting attached very fast.

[2020-04-29 17:04] #79 closed

[2020-04-29 19:08] pardhasm commented on #100
These are the labels for the instance
[code]

[2020-04-29 20:11] pawanpraka1 commented on #100
We release ZFS-LocalPV every month. The next release(0.7.0) is planned on May 15th. I have aleady raised the PR (https://github.com/openebs/zfs-localpv/pull/101) to fix this.

[2020-04-29 20:13] pawanpraka1 commented on #100
@pardhasm can you let us know your use case? How you want to use ZFS-LocalPV, what specific feature you are looking for?

[2020-04-30 07:39] pardhasm commented on #100
@pawanpraka1 I'm planning to run stateful services like elasticsearch, percona and redis on my K8s cluster utilising all ZFS features.

[2020-04-30 08:51] pawanpraka1 commented on #84
fixed via https://github.com/openebs/zfs-localpv/pull/94.

[2020-04-30 08:51] #84 closed

[2020-04-30 09:33] pawanpraka1 commented on #100
@pardhasm, PR (https://github.com/openebs/zfs-localpv/pull/101) to fix this issue is merged. You can go ahead and try this out (zfs-driver:ci image) and see if this is working now. Please note that operator (https://raw.githubusercontent.com/openebs/zfs-localpv/master/deploy/zfs-operator.yaml) is using zfs-drive:ci tag with image pull policy as ifnotpresent. So it will not pull the image again if

[2020-04-30 09:39] pawanpraka1 commented on #47
@freym The PR to support custom topology has been merged. You can follow the steps mentioned here to add custom topology key : https://github.com/openebs/zfs-localpv/blob/master/docs/faq.md#6-how-to-add-custom-topology-key.
Let us know if you are facing any issue.

@w3aman We have fixed the issue(via https://github.com/openebs/zfs-localpv/pull/101) where we have to list all the worker nodes in the

[2020-04-30 13:37] w3aman commented on #47
Cool...i will try this out !
Thanks @pawanpraka1 for your work on this issue.

[2020-04-30 19:47] w3aman commented on #47
I tried this scenario with both v0.6.x and ci image. Both the time i kept master node with NoSchedule taint. And in PVC spec i used immediate as volume binding mode. ci images solved this issue, as master was on noSchedule taint it didn't provisioned the volume there.

with v0.6.x:
[code]

But with CI images volumes were provisioning on the worker nodes only.
[code]
**Note:** Here, because of zfs-

[2020-05-04 11:46] pawanpraka1 commented on #100
@pardhasm Let me know if you are facing any issue with this. This should work now.

[2020-05-04 11:52] w3aman commented on #47
/issue has been fixed and verified.
/closed

[2020-05-04 11:52] #47 closed

[2020-05-11 07:17] pawanpraka1 commented on #103
This is expected behavior. If volume is being created from snapshot, the snapshot deletiog will fail.
Here, because of waitforfirstconsumer the pvc is in pending state and it will be bound only when there is an application running. So we can not delete the snapshot utill pvc bound operation completes.

https://github.com/kubernetes-csi/external-snapshotter/blob/aafeee9c56d35288a3ee27deefe07659f589

[2020-05-11 07:17] #103 closed

[2020-05-12 16:15] w3aman opened #111 "pvc is getting bound even if the zpool name is given wrong"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.]

A storage class was created with wrong zpool name. Now if we try to apply the pvc yaml with this storage class it gets bound status.
in `kubectl get zv -n openebs` command zpool name is also there which is the wrong one. I don't have any zpool with that name.

**What did

[2020-05-13 15:44] chornlgscout opened #112 "mount point does not exist"
openebs-zfs-node openebs-zfs-plugin says:

**Environment:**
- ZFS-LocalPV dd059a2f435b4a32a8517c2133491d9d9f7f633e
- Kubernetes 1.18.2
- Kubernetes microk8s 1.18
- OS Ubuntu 16.04.6 by way of multipass

[2020-05-13 15:49] chornlgscout opened #113 "driver registration doesn't work on microk8s snap"
Registration is sensibly targeted to /var/lib/kubelet, but the directory actually used by microk8s snap is /var/snap/microk8s/common/var/lib/kubelet. I resolved this by symlinking the actual location to the expected location.

[2020-05-13 17:34] pawanpraka1 commented on #113
Thanks @chornlgscout. Thanks for reporting this issue. Yes, the driver expects the default mount path to be in "/var/lib/kubelet". But if it is different then we can modify the operator accordingly : https://github.com/openebs/zfs-localpv/blob/9c81ba9587f022e47985a4ac9290238f996fc317/deploy/zfs-operator.yaml#L1298

[2020-05-13 17:35] pawanpraka1 commented on #113
duplicate #112 https://github.com/openebs/zfs-localpv/issues/112

[2020-05-13 19:34] chornlgscout commented on #112
Obviously, the openebs-zfs-node  openebs-zfs-plugin needs to mount the real kubelet directory at the real path. Modified zfs-operator.yaml with that mount, and all is well.

[2020-05-14 04:37] pawanpraka1 commented on #112
@chornlgscout, can you describe a little bit about the setup? How you are using the ZFS-LocalPV? Is it a production or dev setup? What features you are using or looking for?

If possible, can you sign the adopters file for us and detail your use-case a bit? It will help us out when working with CNCF.  Here is the adopters file where a lot of users have already signed it : openebs/openebs#2719.

[2020-05-14 06:23] pawanpraka1 commented on #113
Tracked under https://github.com/openebs/zfs-localpv/issues/112. Closing this.

[2020-05-14 06:23] #113 closed

[2020-05-14 13:48] chornlgscout commented on #112
Briefly: Development POC, trying to port a legacy application using local zfs storage behind components including elasticsearch, kafka and zookeeper. We intend to dynamically allocate zvols to these components, to snapshot them on upgrade, and roll them back on rollback. Intent is for this to be a locally hosted production product.

I'd also like to be able to use shared local zvols for communal s

[2020-05-14 14:53] pawanpraka1 commented on #112
Thaks for sharing this @chornlgscout . The local shared zvols/dataset are in our roadmap (but not prioritized). We are also thinking of a solution where we identify/detect system dependencies and generate the operatore file accordinly, which will help users and ease their life. For example in this bug, we needed to modify the mount path in operator file, In some cases we need to do some OS specifi

[2020-05-15 08:33] pawanpraka1 commented on #112
adding the details from the issue https://github.com/openebs/zfs-localpv/issues/113

[code]

[2020-05-15 09:09] #93 closed

[2020-05-15 17:06] pawanpraka1 commented on #100
@pardhasm we have released 0.7.0 version for ZFS-LocalPV toady. Please let us know if you are still facing this issue. Here is the 0.7.0 operator yaml

https://raw.githubusercontent.com/openebs/zfs-localpv/v0.7.x/deploy/zfs-operator.yaml

[2020-05-20 12:14] pawanpraka1 opened #123 "do not attempt to delete the ZFSVolume CR if there is a snapshot holding it."
ZFSPV allows to delete the volume if snapshot exist for that volume.In this case the node agent keeps on trying to delete the volume and fails to do so since there is a snapshot for the volume, but the PVC and PV get deleted.

Here, we can fail the ZFSVolume deletion, if there is a snapshot on it.  PVC will still be deleted and in background the CSI Provisioner will keep on trying to delete the vo

[2020-05-21 03:19] #111 closed

[2020-05-21 07:58] pawanpraka1 opened #126 "Refactor ZFS-LocalPV projects to use go-module"
## Description
Go has included support for versioned modules and users are encouraged to migrate to modules from other dependency management systems. It is a relatively easier system for package management and would be nice to have.

## Context
Here is the [wiki](https://github.com/golang/go/wiki/Modules) with the details on Go Modules
an official go [blog post](https://blog.golang.org/migrating-t

[2020-05-21 08:04] pawanpraka1 opened #127 "add event to ZFSVolume with success and failure messages."
**Describe the problem/challenge you have**

When volume creation fails, we have to go the Node agent and check the logs to know the failure reason.

**Describe the solution you'd like**

It will be good to add event to the ZFSVolume CR with success event and failure event with the reason.

**Code Block**

This is the place where volume gets created, we need to add events to the ZV object. same ne

[2020-05-21 08:30] masihtehrani commented on #127
@pawanpraka1 I'd like to work on it
can you more explain about the issue

[2020-05-21 08:41] pawanpraka1 commented on #127
thanks @masihtehrani for taking this up. So, there can be cases where people have given wrong configuration(for example wrong poolname or volblocksize) to create the zfs volume. In that case the volume create will fail and the node agent will keep on trying to create that volume. We can only check the logs to confirm the issue. Here we have to add events to the ZFSVolume and ZFSSnapshot CR so that

[2020-05-21 13:13] vaniisgh opened #129 "refactoring needed to add support for go modules."
The following projects need help with refactoring to use go modules.
[ ] https://github.com/openebs/zfs-localpv
[ ] https://github.com/openebs/node-disk-manager
[WIP] https://github.com/openebs/maya

_Originally posted by @kmova in https://github.com/openebs/openebs/issues/3040#issuecomment-630568725_

[2020-05-21 23:41] jlcox1970 commented on #119
I am also facing issue on CentOS 8 nodes with this driver.
I see the following int the openebs-zfs-plugin container logs

time="2020-05-21T23:39:27Z" level=error msg="zfs: could not set mountpoint on dataset main/pvc-b27284ae-3033-49e3-9c18-89f0c4895fcb cmd [set mountpoint=/var/lib/kubelet/pods/e1d092c2-7120-4dd8-a0de-4b523f19b972/volumes/kubernetes.io~csi/pvc-b27284ae-3033-49e3-9c18-89f0c4895fcb/

[2020-05-21 23:43] zimmertr commented on #119
Please use the manifests and image described in t[his comment](https://github.com/openebs/zfs-localpv/issues/119#issuecomment-598032945) by @pawanpraka1 until this has been resolved upstream.

[2020-05-21 23:45] jlcox1970 commented on #119
I have used that image and the also the SC yaml that is also mentioned.
This got me to the point of no other errors in the logs apart from the above.

[2020-05-22 05:09] jlcox1970 commented on #119
finally worked this out, the image is CentOS7 based...
it has libc-2.17 and all the libs that go with that
however, I am on CentOS8 and that a libc-2.28

I can update the docker image but I need to know how to run the make file to get the zfs-driver

alternatively can I just copy that out of the existing container and into the the new one ?

[2020-05-22 05:24] pawanpraka1 commented on #119
@jlcox1970 sorry, we couldn't prioritize this in to our release. Clone this repo https://github.com/pawanpraka1/zfs-localpv and go to the CentOS branch. then Just change the image to centos8 in the docker file https://github.com/pawanpraka1/zfs-localpv/blob/centos/buildscripts/zfs-driver/Dockerfile. To create the image, you just have to do `make` to get the image.

[2020-05-22 05:29] jlcox1970 commented on #119
@pawanpraka1 thats ok and i am happy to help as this is my cluster at home :)

as for the make, I have never used go before and so I have a whole lot of errors that come up
`
--> Running go fmt
can't load package: package _/root/git/zfs-localpv/cmd: cannot find package "_/root/git/zfs-localpv/cmd" in any of:
        /usr/lib/golang/src/_/root/git/zfs-localpv/cmd (from $GOROOT)
        /root/go/src

[2020-05-22 05:52] pawanpraka1 commented on #119
@jlcox1970 here is the developer setup doc : https://github.com/openebs/zfs-localpv/blob/master/docs/developer-setup.md.

I have push the centos8 image also and update the operator file with that. You can try this yaml which is using centos8 image : https://raw.githubusercontent.com/pawanpraka1/zfs-localpv/centos/deploy/zfs-operator.yaml

[2020-05-22 06:02] jlcox1970 commented on #119
@pawanpraka1 that fixed it nicely :)
I will look into the dev environment setup this weekend and make it all containerised so that I dont have to revisit it :)

[2020-05-22 06:07] pawanpraka1 commented on #119
Sure @jlcox1970 . Just to confirm, you are able to provision the volume using the latest yaml?

[2020-05-22 06:13] pawanpraka1 commented on #119
can you also also provide the below details :
1. zfs version
2.  ldd `which zfs`
3. cat /etc/*release*

[2020-05-22 06:35] jlcox1970 commented on #119
yes the volume is provisioned
zfs-0.8.4-1.el8.x86_64

linux-vdso.so.1 (0x00007fff74dcb000)
        libnvpair.so.1 => /lib/libnvpair.so.1 (0x00007f7523620000)
        libuutil.so.1 => /lib/libuutil.so.1 (0x00007f7523410000)
        libzfs.so.2 => /lib/libzfs.so.2 (0x00007f7523190000)
        libzfs_core.so.1 => /lib/libzfs_core.so.1 (0x00007f7522f88000)
        libblkid.so.1 => /lib64/libblkid.so.1

[2020-05-22 07:59] pawanpraka1 commented on #100
closing this, please reopen if this issue still persist.

[2020-05-22 07:59] #100 closed

[2020-05-22 08:24] w3aman opened #130 "ZFSVolume resource ramains stale in system after deleting pvc"
**What steps did you take and what happened:**

- Deletion of Pending pvc is not cleaning up the zfsvolume resource which still remains in pending state.
[code]

[2020-05-26 11:53] pawanpraka1 commented on #119
@zimmertr, @jlcox1970  I am working on a change(https://github.com/pawanpraka1/zfs-localpv/commit/6c567bd9681403942640a1f03ccf51d774ccfe87) which can work for both ubuntu and centos. I have tested it on ubuntu, and it seems to be working. I need one help/favor from you guys, if you can test this on centos7 and centos8 and if it is working then I will upstream this change.

https://raw.githubuserco

[2020-05-26 13:45] pawanpraka1 commented on #72
@jemershaw  Can you see if this yaml fixes the issue. This is still a work in progress(https://github.com/openebs/zfs-localpv/pull/134), let me know your feedback
https://raw.githubusercontent.com/pawanpraka1/zfs-localpv/lib/deploy/zfs-operator.yaml

[2020-05-26 18:36] pawanpraka1 opened #135 "move to klog from logrus"
**Describe the problem/challenge you have**

Currently the project uses logrus as logging package.

**Describe the solution you'd like**

Start using klog and migrate older logs to klog.

[2020-05-27 00:43] zimmertr commented on #119
I have actually moved away from CentOS 7 to Flatcar Linux since making this post and do not have a server available to test anymore. If @jlcox1970 is unable to as well, I could probably spin something up in a VM though. It just won't resemble a production environment any longer.

[2020-05-27 04:32] pawanpraka1 commented on #119
@zimmertr thanks. Flatcar will also be supported if the libraries required for zfs is in /lib or /lib64 and binary is installed at /sbin/zfs or /usr/sbin/zfs. If that is the case then same yaml will work, otherwise we have to make little modification to the yaml and it should just work.
We can check 2 things to confirm that

1. `which zfs` <== to check the binary path
2. ldd `which zfs` <== to che

[2020-05-27 08:20] pawanpraka1 commented on #129
duplicate of https://github.com/openebs/zfs-localpv/issues/126.

[2020-05-27 08:20] #129 closed

[2020-05-27 08:26] pawanpraka1 opened #136 "reduce the log noise for ZFS-LocalPV"
**Describe the problem/challenge you have**

ZFS-LocalPV logs every grpc request. The volume stats log gets triggered every minute and pollute the log.

**Describe the solution you'd like**

We can remove the unnecessary logs to reduce the noise. One of log which is not needed is GetvolumeStats grpc log, which can be removed.

This the place where all grpc calls are intercepted

https://github.com

[2020-05-31 16:14] pawanpraka1 opened #141 "wait for ZFS driver's pod to UP and Running in BDD test"
**Describe the problem/challenge you have**

Currently, the BDD test waits for 20 sec and assumes that ZFS driver pod will be up and Running.
https://github.com/openebs/zfs-localpv/blob/42ed7d85ee183249c5e6d2fedc482c988651f75d/ci/ci-test.sh#L48

**Describe the solution you'd like**

We should check for POD status and wait for it to become Running.

[2020-06-01 04:05] jlcox1970 commented on #119
sorry on the delay on this but work......
got to testing and found that the openebs-zfs-plug keeps failing and
the only thing in the logs are

*** stack smashing detected ***: <unknown> terminated

Jason
On Tue, 2020-05-26 at 04:54 -0700, Pawan Prakash Sharma wrote:

[2020-06-01 04:34] pawanpraka1 commented on #119
@jlcox1970 thanks for helping me with the testing. It seems like there is more work needs to be done in this. I should probably restrict the host libraries to zfs binary only. Currently the whole pod is exposed to the host libraries and that is probably causing the issue. Let me fix that. Thanks again @jlcox1970 .

[2020-06-01 08:30] pawanpraka1 opened #142 "remove MountInfo struct from the API file"
**Describe the problem/challenge you have**

MountInfo struct is in memory struct used to keep the information related to mounting the volume. It should not be there in the versioned api file.

https://github.com/openebs/zfs-localpv/blob/307861282a5976e4a4a8e2d52f5f2fe94b9d8305/pkg/apis/openebs.io/zfs/v1alpha1/zfsvolume.go#L46

**Describe the solution you'd like**

Move the MountInfo struct to the

[2020-06-01 12:18] cruwe opened #143 "CreateZFSVolume does not respect fsType=zfs -> dataset"
**What steps did you take and what happened:**
With storageclass
[code]
the created datasets end up with type volume.

**What did you expect to happen:**

With fsType set, I'd like to have a dataset.

**Anything else you would like to add:**
The parameter `req.GetParameters()["fstype"]` in `func CreateZFSVolume(req *csi.CreateVolumeRequest) (string, error)` is inconsistent with the CRD. Either it

[2020-06-01 13:23] pawanpraka1 commented on #143
@cruwe you can use fstype as "zfs" in the storageclass. And the Controller will fetch fstype from the storageclass and updated fsType of the ZFSVolume CRDs while creating it.

[2020-06-04 10:32] #87 closed

[2020-06-04 13:55] #143 closed

[2020-06-04 16:26] pawanpraka1 commented on #130
introduced in https://github.com/openebs/zfs-localpv/pull/121. While fixing https://github.com/openebs/zfs-localpv/issues/111. I will be reverting the wait, the PVC will be bound immediately, but `kubectl get zv -n openebs` will show the status of the volume. cc @w3aman

[2020-06-05 15:12] pawanpraka1 commented on #119
@jlcox1970, sorry for the delay, Please see the below yaml works for you

for CentOS7 =>

https://raw.githubusercontent.com/pawanpraka1/zfs-localpv/centos/deploy/operators/centos7/zfs-operator.yaml

CentOS8 =>

https://raw.githubusercontent.com/pawanpraka1/zfs-localpv/centos/deploy/operators/centos8/zfs-operator.yaml

[2020-06-08 05:01] #130 closed

[2020-06-08 05:05] #119 closed

[2020-06-08 06:58] pawanpraka1 commented on #119
We have upstreamed the centos7 and centos8 yaml here

https://raw.githubusercontent.com/openebs/zfs-localpv/master/deploy/operators/centos7/zfs-operator.yaml

https://raw.githubusercontent.com/openebs/zfs-localpv/master/deploy/operators/centos8/zfs-operator.yaml

[2020-06-09 09:39] stevefan1999-personal opened #152 "Support R[OW]X for dataset"
**Describe the problem/challenge you have**
[A description of the current limitation/problem/challenge that you are experiencing.]
I cannot mount ZFS dataset to multiple pods, thus for some reason I cannot run multiple game servers using Agones, because I want to re-use the same volume to say e.g. run multiple instances of the game server with same set of plugin like Retake, TTT and such.

My curr

[2020-06-09 10:05] pawanpraka1 commented on #152
@stevefan1999-personal thanks for this issue. Right now we support ReadWriteOnce capability. We have a plan to support ReadWriteMany. Thanks for raising this issue.

I see that you are already using ZFS-LocalPV for your use case. Would you like to add your use case in our ADOPTERS.md file. It will help us out when working with CNCF.

 https://github.com/openebs/openebs/issues/2719.

[2020-06-09 15:07] pawanpraka1 commented on #152
hey @stevefan1999-personal thanks, I see, you have put the comment in the Adopters.md file.
Could you also specify which localpv storage engines you are using? OpenEBS-Device, OpenEBS-Hostpath or ZFS-LocalPV? Thanks for taking time and adding your use case in the ADOPTERS.md file, appreciate it.
https://github.com/openebs/openebs/issues/2719#issuecomment-641343028

[2020-06-09 16:20] stevefan1999-personal commented on #152
Hmm...if I take a step back and use NFS server provisioner, as suggested by the OpenEBS documents then I can have it working quite well...but I'm still interested on a solution without this kind of overhead, especially consider that Grafana can eat a lot of memory.

[2020-06-09 16:21] stevefan1999-personal commented on #152
Implementing this could be a nice incentive for #69

[2020-06-09 16:56] pawanpraka1 commented on #152
@stevefan1999-personal there is already a PR from the community to add that feature(#69) https://github.com/openebs/zfs-localpv/pull/139.

[2020-06-19 07:21] pawanpraka1 commented on #126
fixed via https://github.com/openebs/zfs-localpv/pull/148.

[2020-06-19 07:21] #126 closed

[2020-06-19 11:32] pawanpraka1 commented on #136
/assign @vaniisgh

[2020-06-24 16:11] #136 closed

[2020-06-26 05:23] w3aman opened #163 "readme need to be updated"
**What steps did you take and what happened:**

I tried to apply the zfs-operator file on k8s version 1.15. but yaml was not applying giving out the error.
[code]

**What did you expect to happen:**

As readme says supported on k8s 1.14+ but looks like `volumeLIfecycleModes` field works only after k8s 1.16
And
OS support is also mentioned only ubuntu 18.04 but i could see CentOS 7/8 support is now

[2020-06-26 09:25] pawanpraka1 commented on #152
Have raise a PR to add this support https://github.com/openebs/zfs-localpv/pull/164.

[2020-06-26 10:46] pawanpraka1 opened #165 "add golint end point in the Makefile"
We need to have a `make golint`command which will check for any linting error.

[2020-06-28 03:44] vaniisgh commented on #165
i could do this, if that's ok :)

[2020-06-29 05:57] pawanpraka1 commented on #165
sure @vaniisgh.

/assign @vaniisgh

[2020-06-29 05:57] pawanpraka1 commented on #141
/assign @vaniisgh

[2020-06-29 06:51] pawanpraka1 commented on #135
closed via : https://github.com/openebs/zfs-localpv/pull/166

[2020-06-29 06:51] #135 closed

[2020-06-30 08:02] vaniisgh opened #168 "Add golint to check to travis"
**Describe the problem/challenge you have**
Add a golint check to  travis to make sure that contributions are  complaint with linting standards.

**Describe the solution you'd like**
- fix existing go-lint warnings
- add make golint to the travis.yaml

[2020-07-01 12:37] mikroskeem opened #169 "BTRFS support in fsType"
**Describe the problem/challenge you have**
I'm deploying Concourse CI with zfs-localpv and for optimal performance, I would like to use `btrfs` zvols (alternatives aren't really viable - overlay does not work on top of ZFS, naive is very slow and btrfs loopback device leaks /dev/loop* devices)

**Describe the solution you'd like**
Adding tools for creating btrfs formatted zvols

**Anything else y

[2020-07-01 14:42] pawanpraka1 commented on #169
@mikroskeem thanks for raising this issue. btrfs use case is new to us. Can you elaborate a little bit about your use case why btrfs?  Why not use ext4 or zfs which will bind mount the volumes?
[code]

Would you like to add your use case in our ADOPTERS.md file. It will help us out when working with CNCF. You can put a comment describing your use case here : https://github.com/openebs/openebs/issu

[2020-07-01 14:49] mikroskeem commented on #169
I'm only using btrfs zvols, because Concourse performs best using btrfs on a disk (ignoring the fact that zfs adds a bit overhead, but still better than alternatives) and does not support zfs directly sadly.

About ADOPTERS document, I'll add my use-cases when I have more time :)

[2020-07-01 17:18] pawanpraka1 commented on #169
@mikroskeem I have raise the PR to add btrfs support : https://github.com/openebs/zfs-localpv/pull/170. Will be available for in v0.9 release (planned on 15th July).

[2020-07-01 17:30] mikroskeem commented on #169
Amazing, thank you.

[2020-07-01 19:10] #152 closed

[2020-07-01 19:11] #169 closed

[2020-07-02 07:46] pawanpraka1 commented on #152
@stevefan1999-personal we have added support to allow application to share the volume via https://github.com/openebs/zfs-localpv/pull/164. Can you deploy the ci image and try the below storage class

[code]

[2020-07-02 08:37] #141 closed

[2020-07-02 09:37] pawanpraka1 commented on #165
closed via https://github.com/openebs/zfs-localpv/pull/167.

[2020-07-02 09:37] #165 closed

[2020-07-02 10:30] stevefan1999-personal commented on #152
@pawanpraka1 nope.

BTW this is my final storage class config:
[code]

This is my PVC generated from Helm, trimmed to keep most of the reproducible information:
[code]
But this doesn't work on a second pod I manually scheduled to replicate on, `kubectl describe` shows this:
[code]
I have upgraded the CSI provisoner to CI that I reapplied again so it is indeed the latest version I think.

So yeah,

[2020-07-02 12:00] pawanpraka1 commented on #152
Can you paste the full log of the zfs driver?

[2020-07-02 13:17] stevefan1999-personal commented on #152
@pawanpraka1 Oh, you're right. I see that my zfs-node pod is still 34 days ago. So I had to go full on wipe with that

[2020-07-03 06:57] pawanpraka1 commented on #152
is it working @stevefan1999-personal. Let me know if you need any help.

[2020-07-03 11:21] stevefan1999-personal commented on #152
@pawanpraka1 well I patched my Stateful & Daemon set of zfs-localpv for all the pods's imagePullPolicy from IfNotPresent to Always, and they are supposedly re-pulled to use the latest version. However, I still can't get it to work as there's an error message "Internal desc = rpc error: code = Internal desc = verifyMount: device already mounted at [...]". This means I may have to re-create the stor

[2020-07-03 11:53] pawanpraka1 commented on #152
@stevefan1999-personal , yes volume should be provisioned with the storageclass with shared=yes parameter. You can verify that with kubectl get zv <pv name> -n openebs -oyaml, it should have shared option as yes.

[2020-07-03 12:33] w3aman opened #173 "volume is not mounting for xfs file-system on CentOS 7 cluster"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.]

Volume is not getting mounted in case of xfs-filesystem on CentOS based cluster, giving this error:
[code]
Logs from the node agent pod shows this:
[code]
and
[code]

**Environment:**
- ZFS-LocalPV version: ci image
- OS (e.g. from `/etc/os-release`):
[code]

[2020-07-03 16:05] stevefan1999-personal commented on #152
@pawanpraka1 after recreating a new PVC, success!

[2020-07-03 17:32] pawanpraka1 commented on #152
since it is localpv solution and all the pods sharing the same volume will come to the same node only and kernel is still shared, so it will work for zvol also. Good to metion in both the cases applications needs to have o have conflict-avoidance mechanism.

[2020-07-07 12:51] #168 closed

[2020-07-09 13:40] #173 closed

[2020-07-15 10:26] w3aman opened #182 "clone creation is failing on CentOS when fstype is xfs"
zfspv-clone getting failed on centos based cluster when fstype is used as `xfs`
getting such error:
[code]

and from the dmesg log it says :
[code]

zfs version: 0.8.0
konvoy cluster on centos 7

[2020-07-15 11:04] pawanpraka1 commented on #182
This issue is specific to xfs only, when we create a clone volume and system is taking time in creating the device.

When we create a clone volume from a xfs filesystem, ZFS-LocalPV will go ahead and generate a new UUID for the clone volumes as we need a new UUID to mount the new clone filesystem. To generate a new UUID for the clone volume, ZFS-LocalPV first replays the xfs log by mounting the de

[2020-07-15 11:08] pawanpraka1 commented on #182
Below log shows the mount failure because the device is not present :
[code]

In retry it is failing to create the tmp directory

[code]

[2020-07-21 06:30] pawanpraka1 commented on #163
We also need to improve the setup part and add details about how can we setup the zpool. Also, if possible, we can add support to automatically setup the pool.

[2020-07-21 06:31] pawanpraka1 opened #185 "add support to automatically setup the pool."

[2020-07-21 15:41] chornlgscout commented on #123
Also an issue with deleting snapshots that are in use by clones.

[2020-07-22 07:45] pawanpraka1 commented on #123
Thanks @chornlgscout for adding the issue related to snapshot deletion when it is in use by clone. Are you already using ZFS-LoclaPV? Could you please let us know your use case and what features you are specifically looking for?

[2020-07-22 17:37] #182 closed

[2020-07-22 17:37] #163 closed

[2020-07-30 13:04] sonicaj opened #189 "Use ZFS dataset instead of ZPOOL"
**Describe the problem/challenge you have**

Hello. I have been exploring storage solutions available in for k8s using ZFS and came across this. It appears that in order to use zfs-localpv, we require a dedicated ZPOOL on all nodes. Our use case is basically a single node cluster where we are using k3s. It would be great if I could have it confined to use a zfs dataset instead of specifying a zpoo

[2020-07-30 13:47] pawanpraka1 commented on #189
@sonicaj we can give parent dataset also in the poolname. It just works. Please make sure that dataset is already created.

[code]

[2020-07-30 13:49] sonicaj commented on #189
That's just awesome. Thank you @pawanpraka1 for pointing it out.

[2020-07-30 13:49] #189 closed

[2020-07-30 13:51] sonicaj commented on #189
Btw it would be nice if we could mention it in README or somewhere in the docs. Would you like me to make a small PR for README ? Should be a one line change

[2020-07-30 13:54] pawanpraka1 commented on #189
yes, sure @sonicaj, please raise the PR.

[2020-08-18 13:01] wirwolf commented on #112
Rancher 2.4.5
kubernetus  v1.18.3

MountVolume.NewMounter initialization failed for volume "pvc-45421d5d-b8fd-40d0-9918-32eab3547156" : path "/var/openebs/local/pvc-45421d5d-b8fd-40d0-9918-32eab3547156" does not exist
[code]

[2020-08-18 13:07] pawanpraka1 commented on #112
@wirwolf which storage engine you are using? does not look like you are using localpv zfs? Seems like you are using localpv hostpath storage engine?

[2020-08-26 13:43] spencergilbert opened #195 "Mismatch between CRs and ZFS volumes on node"
**What steps did you take and what happened:**
Currently running 0.6.1, noticed that the on disk ZFS results didn't match with the results returned from `kubectl get zfsvolumes -A`

**What did you expect to happen:**
1:1 matching

**The output of the following commands will help us better understand what's going on**:
`zfs list -t all`

[code]

[code]
ZFSVolumes.yaml: https://gist.github.com/spenc

[2020-08-26 14:10] pawanpraka1 commented on #195
@spencergilbert can I get one more output :
[code]

[2020-08-26 14:16] spencergilbert commented on #195
no results returned

[2020-08-27 06:33] pawanpraka1 opened #199 "support incremental backup and restore"
ZFS support incremental send/receive. We can use the same to store the backup on the cloud, which will save the space.

[2020-08-27 06:41] pawanpraka1 opened #200 "add support to restore in a cluster with different nodes"
Right now there is a limitation where we can restore in a cluster which should have same nodes (names only) present. We can add a config map where node mappings are given and while restore time we can use this to map the nodes.

[code]

[2020-08-27 13:57] pawanpraka1 commented on #195
the below two volumes are not present :-
1. pvc-04230116-1719-4fc9-87e9-6bcbbb1440ac
2. pvc-66cb5b8b-f446-414d-b451-8ddc66a1cdfe

They both are created on 2020-05-05 (112 days old). @spencergilbert by any chance we recreated the ZFS pool? zpool history can help you find the pool creation time.

if that is not the case can we check if corresponding PV is present? can I get the PV yaml :-
[code]

[2020-09-03 04:14] jlcox1970 opened #202 "Current quay.io/openebs/zfs-driver:ci image is not provisioning on CentOS 8"
**What steps did you take and what happened:**
cleaned up all openebs config in cluster, remove all zfs based pvc and reinstalled  using the README

**What did you expect to happen:**
expected to be able to run 'zfs' inside openebs-zfs-plugin container as per previous install

**The output of the following commands will help us better understand what's going on**:

zfs: error while loading shared

[2020-09-03 04:19] pawanpraka1 commented on #202
@jlcox1970 which operator yaml you used to deploy? For centos the operator yaml is different

CentOS 7:
https://raw.githubusercontent.com/openebs/zfs-localpv/master/deploy/operators/centos7/zfs-operator.yaml

CentOS 8:
https://raw.githubusercontent.com/openebs/zfs-localpv/master/deploy/operators/centos8/zfs-operator.yaml

[2020-09-03 04:42] jlcox1970 commented on #202
both the default fro theREADME and the CentOS 8 operator
the CentOs8 gives
zfs: symbol lookup error: /lib/libk5crypto.so.3: undefined symbol: EVP_KDF_ctrl, version OPENSSL_1_1_1b

ldd /usr/sbin/zfs
        linux-vdso.so.1 (0x00007ffd45bf5000)
        libnvpair.so.1 => /lib/libnvpair.so.1 (0x00007efec5532000)
        libuutil.so.1 => /lib/libuutil.so.1 (0x00007efec5323000)
        libzfs.so.2 => /l

[2020-09-03 05:14] pawanpraka1 commented on #202
Playing with the library mount is causing a lot of trouble. Let me take this up in this release which is planned on 15th of Sept. I will do the root mount which will fix it for all the operating systems.

[2020-09-03 06:27] jlcox1970 commented on #202
available for pre release testing if needed

[2020-09-03 07:00] pawanpraka1 commented on #202
Thanks @jlcox1970, will ping you to test the changes.

[2020-09-03 14:47] pawanpraka1 commented on #202
@jlcox1970 I have pushed the changes to my repo and I have verified it on ubuntu. Will do the test on centos 7 and 8. Here is the yaml : https://raw.githubusercontent.com/pawanpraka1/zfs-localpv/rootmnt/deploy/zfs-operator.yaml.

it is still work in progress, let me know if this yaml is working for you. Note the this yaml has IfNotPresent imagepull policy, so if you want you can use the zfs-driver

[2020-09-03 21:53] jlcox1970 commented on #202
tested on CentOS8
now works as expected and I have provisioned pvc's using the provisioner

unable to test on CentOS7 as I do not have access

[2020-09-04 06:19] pawanpraka1 commented on #202
Thanks for verifying this @jlcox1970. I hope now this fixes for all the operating systems and we don't have to worry about the libraries on different platforms.

[2020-09-07 15:42] #202 closed

[2020-09-09 06:14] pawanpraka1 commented on #72
We have merged a PR https://github.com/openebs/zfs-localpv/pull/204 to make the ZFS operator yaml not agnostic to the underlying Operation system. Now we use the same Operator yaml 9https://github.com/openebs/zfs-localpv/blob/master/deploy/zfs-operator.yaml) of all the Operting systems.

[2020-09-09 06:16] pawanpraka1 commented on #67
We have merged a PR https://github.com/openebs/zfs-localpv/pull/204 to make the ZFS operator yaml not agnostic to the underlying Operation system. Now we use the same Operator yaml (https://github.com/openebs/zfs-localpv/blob/master/deploy/zfs-operator.yaml) of all the Operating systems.

[2020-09-09 06:17] pawanpraka1 commented on #119
We have merged a PR https://github.com/openebs/zfs-localpv/pull/204 to make the ZFS operator yaml not agnostic to the underlying Operation system. Now we can use the same Operator yaml (https://github.com/openebs/zfs-localpv/blob/master/deploy/zfs-operator.yaml) of all the Operating systems.

[2020-09-09 06:24] #86 closed

[2020-09-11 09:43] w3aman opened #207 "Snapshot data is different after restoring the zfs-localpv backup"
**What happened:**

I provisioned the zfs-localpv and busybox application is consuming it. I dumped some data and after that i took the volume snapshot. So suppose i took the snapshot S1 of data D1.
Now more data is dumped say D2. Now volume is having D1+D2 data in total.
After that backup is created. So it should be consisiting of total data of D1+D2 and one volume snapshot S1 of D1 data.

When b

[2020-09-11 14:20] pawanpraka1 commented on #207
it is a limitation here, we can do either these two things
1.    exclude the volumesnapshot during backup/restore
 2.   if we are restoring the snapshot, it may not point to the same data as the source snapshot.

[2020-09-11 14:20] #207 closed

[2020-09-11 17:00] spencergilbert commented on #195
sorry @pawanpraka1 this dropped off my radar - this does seem to be from us rebuilding nodes. Don't know if you want to try and handle that in the provisioner

[2020-09-14 05:08] pawanpraka1 commented on #195
that explains @spencergilbert. We should clean everything before rebuilding the node. Closing this issue.

[2020-09-14 05:08] #195 closed

[2020-09-18 07:16] pawanpraka1 opened #213 "remove hardcoded docker org from the Dockerfile"
**Describe the problem/challenge you have**

We can remove the hardcoded docker org from the repo and add that as ENV which can be configured. This will help the people who has forked the repo. They can just set the env in the travis and image will be generated in that org.

**Describe the solution you'd like**

We can do similar thing we did in https://github.com/openebs/cstor-operators/pull/85/f

[2020-09-18 11:55] pawanpraka1 opened #214 "add the deployment via kustomize"
Add support to deploy ZFS-LocalPV via kustomize (https://github.com/kubernetes-sigs/kustomize).

[2020-09-18 11:59] pawanpraka1 opened #215 "add capacity based scheduling in ZFS-LocalPV"
Currently the ZFS-LocalPV supports volume count based scheduling, where it creates the PV where less number of volumes are provisioned (https://github.com/openebs/zfs-localpv/blob/master/pkg/driver/scheduler.go#L70).  We need to add capacity based scheduling where the volume should be provisioned where more space is available in the ZFS Pool.

[2020-09-18 12:02] pawanpraka1 opened #216 "add grafana charts for ZPOOL capacity and component / driver status"
We have a dashboard (https://github.com/openebs/zfs-localpv/blob/master/deploy/sample/grafana-dashboard.json) for ZFS-LocalPV. We need to add a dashboard to display ZFS POOL capacity and status of ZFS-LocalPV driver component.

[2020-09-18 12:06] pawanpraka1 opened #217 "recover volumes from cluster/node disaster recovery"
when there are no backup of zfs volume CRs, we need to manually create each CR and attach them to the ZFS-LocalPV(https://github.com/openebs/zfs-localpv/blob/master/docs/import-existing-volume.md). We need an Operator which should do this automatically.

[2020-09-18 12:07] pawanpraka1 opened #218 "Validations - stop from making accidental deletions"
We need a way to stop accidental "openebs" namespace or CR deletions. We need a webhook or OPA to validate the deletion request.

[2020-09-18 12:09] pawanpraka1 opened #219 "Backup/Restore without velero dependency"
ZFS-LocalPV has added supports for velero to do the backup and restore. But actually it is not really dependant on velero to do that. Add a steps/doc/blog to do the backup and restore without velero.

[2020-09-18 12:10] pawanpraka1 opened #220 "add CSI Driver sanity test for ZFS-LocalPV"

[2020-09-30 06:05] #200 closed

[2020-09-30 06:22] pawanpraka1 opened #222 "add go report card badge for ZFS-LocalPV"
**Describe the problem/challenge you have**

We need to have a go report card added in the README of the repo.

**Describe the solution you'd like**

We need to add below badge in the README.md file of the repo (https://github.com/openebs/zfs-localpv/blob/master/README.md).

[code]

[2020-09-30 12:22] Naveenkhasyap commented on #222
@pawanpraka1 can i take this up ?

[2020-09-30 12:47] pawanpraka1 commented on #222
sure @Naveenkhasyap.

[2020-10-01 08:54] pawanpraka1 commented on #222
fixed via https://github.com/openebs/zfs-localpv/pull/223

[2020-10-01 08:54] #222 closed

[2020-10-09 06:38] pawanpraka1 commented on #199
fixed via https://github.com/openebs/velero-plugin/pull/121

[2020-10-09 06:38] #199 closed

[2020-10-10 08:19] codegagan commented on #213
I am looking into this.

[2020-10-10 08:40] codegagan commented on #213
@pawanpraka1 I think this issue is already fixed with commit https://github.com/openebs/zfs-localpv/commit/a8a490e9cb0fa51b36226347b2bcdffa673fd433 and changes are present in master, and this issue can be closed.

https://github.com/openebs/zfs-localpv/blob/55a155c4a545fd2d46635662d86f6321d2eb115f/Makefile#L231

https://github.com/openebs/zfs-localpv/blob/55a155c4a545fd2d46635662d86f6321d2eb115f/b

[2020-10-10 09:03] codegagan commented on #142
I am looking into this.

[2020-10-10 11:10] codegagan commented on #142
moving only MountInfo is causing cyclic imports, because there are lot of structs like ZFSVolume in apis package which are required in zfs package. if MountInfo is moved, we need to add zfs package import to api.

@pawanpraka1 Please suggest some solution for this.

[2020-10-10 13:44] pawanpraka1 commented on #213
that's right @codegagan. Thanks. Closing this issue.

[2020-10-10 13:44] #213 closed

[2020-10-10 13:49] pawanpraka1 commented on #142
@codegagan once you remove the MountInfo struct you should run `make kubegen`. There are few autogenerated code because of thsi is part of api. Once you move it to pkg/zfs/mount.go, and run `make kubegen` there should not be any reference of it in api.

Also since we have v1alpha1 and v1 api version now. So we have to remove it from two files :
pkg/apis/openebs.io/zfs/v1alpha1/zfsvolume.go
pkg/api

[2020-10-10 14:15] codegagan commented on #214
Looking into this.

[2020-10-11 12:02] codegagan commented on #142
Thanks, that was helpful, raised the PR.

[2020-10-12 05:29] #142 closed

[2020-10-15 13:55] w3aman opened #229 "pvc mountpoint is not accessible from all the pods in shared-mount volume"
**Environment:**
- ZFS-LocalPV version : 1.0.0
- Kubernetes version (use `kubectl version`): 1.18.6
- Cloud provider or hardware configuration: Rancher cluster on centos 7 with docker container-runtime
- OS (e.g. from `/etc/os-release`):
[code]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.]

Using zfspv shared mount

[2020-10-27 04:10] pawanpraka1 commented on #214
@spencergilbert could you take a look at the PR(https://github.com/openebs/zfs-localpv/pull/231) and let us know if there is anything else needed.

[2020-10-31 04:36] #214 closed

[2020-11-10 18:39] dude051 opened #235 "Microk8s single node does not register CSI driver"
**What steps did you take and what happened:**
Installed a fresh latest version of MicroK8s and followed instructions to do a standard install of zfs-localpv using:
https://openebs.github.io/charts/zfs-operator.yaml

One modification was made to up date `pods-mount-dir` to `/var/snap/microk8s/common/var/lib/kubelet` for MicroK8s.

After doing this all PVC's are left pending with:
[code]

Further i

[2020-11-11 02:20] pawanpraka1 commented on #235
@dude051 csi driver's registration seems to be failing. can you share the csi-driver-registrar container log from the openebs-zfs-node-r4mvv pod?

[2020-11-11 04:00] dude051 commented on #235
Thanks @pawanpraka1 I checked these logs and found nothing after the server starts but a `GRPC error`:

[code]

[2020-11-11 05:57] pawanpraka1 commented on #235
@dude051 is above the full log? I am looking for this `I1111 05:31:26.003126       1 main.go:87] Received NotifyRegistrationStatus call: &RegistrationStatus{PluginRegistered:true,Error:,}` in the log.

[code]

[2020-11-11 06:10] dude051 commented on #235
@pawanpraka1 correct that's the full log that I have. It just stops there with nothing else.

[2020-11-11 06:12] pawanpraka1 commented on #235
could you share the yaml you have used to deploy the operator?

[2020-11-11 06:30] dude051 commented on #235
only change I have made was for the location of kubelet:
https://gist.github.com/dude051/a960b6c0febf22729537e122c2dee831

[2020-11-11 06:43] pawanpraka1 commented on #235
can we change all the places where we have "/var/lib/kubelet" to '/var/snap/microk8s/common/var/lib/kubelet/" and deploy it again and see `kubectl get csinodes -oyaml` and check if spec.drivers is populated.

[2020-11-11 07:07] dude051 commented on #235
@pawanpraka1 thank you, that was it! I hadn't thought to go through and change the kubelet version everywhere after skimming it from the issue that I found, so totally my mistake there.

[2020-11-11 07:08] dude051 commented on #235
I see the node registered the driver now
[code]
and my test PVC was provisioned and bound:
[code]

[2020-11-11 07:11] pawanpraka1 commented on #235
can we help us document this in the readme for microk8s?

[2020-11-11 07:13] dude051 commented on #235
Sure glad to write that up and submit.

[2020-11-11 07:14] pawanpraka1 commented on #235
Thanks @dude051

[2020-11-11 15:22] pawanpraka1 opened #236 "log flood when deleting the volume when clone volume exist"
When clone volume exist and we delete the source volume, the daemonset gets flooded with the error log saying

[code]

Here what is happening is since there is a clone volume present, the destroy will fail because of the clone volume. The volume  mgmt will keep on trying to delete and keep on failing with the error until we delete the clone volume. This will flood the log with unnecessary error me

[2020-12-07 14:00] kangco-de opened #252 "Unable to manually create a ZFSVolume"
**What steps did you take and what happened:**
When I create a PVC using the provisioner a volume is created as expected:
[code]
`kubectl -n openebs logs -f openebs-zfs-node-dtq68 -c openebs-zfs-plugin`
[code]
But when I try to create a ZFSVolume manually to have a predictable dataset in the host it does not work:

[code]

[code]

[code]
`kubectl -n openebs logs -f openebs-zfs-node-dtq68 -c openeb

[2020-12-07 14:54] pawanpraka1 commented on #252
If I understood you correctly you have you created the PV and ZFSVolume manually. And try to claim it via PVC. If that is the case, then I see that PV yaml is missing node affinity details, it should have the affinity rules directing where the volume is present so that pod can access that. The PV yaml should look like this :
[code]

[2020-12-07 17:40] kangco-de commented on #252
Maybe I explained myself bad.

We are using an existing solution for backup and restore our ZFS nodes (integration with Sanoid) and we want to create a dataset with a predictable name, not using an existing one. If I have to manually create one then I would use hostPath and not use OpenEBS for this purpose.

What I want it OpenEBS to create a dataset with a name I choose instead of `pvc-$(uuid)` s

[2020-12-08 05:47] pawanpraka1 commented on #252
@kangco-de perfect. Can you update the ZFSVolume yaml and remove the finalizer and try.
[code]

[2020-12-08 16:16] kangco-de commented on #252
I copied the `finalizer` from a ZFSvolume created by the auto-provisioner and I thought that it was only used when deleting the object so I leaved for the dataset to be cleaned when eliminated (I have Delete policy for now)

Applying the object without the finalizer created successfully the dataset :)

`% kubectl -n openebs logs openebs-zfs-node-s49th -c openebs-zfs-plugin`
[code]

This issue can

[2020-12-08 16:16] #252 closed

[2020-12-08 16:24] pawanpraka1 commented on #252
Thanks for confirming. The finalized is set when dataset has been created successfully so that it can take care of deleting the dataset when we are deleting the ZFSVolume CR. Here, since finalized is already set, it won't attempt to create the dataset, hence the issue.

Also, I would also like to mention that we need to set the affinity on the pv to make the pod scheduled on the same node where th

[2020-12-08 16:29] kangco-de commented on #252
I'm aware of it. As I said its a mono node testing/develop "cluster" and there is no affinity problems for now.

Thanks anyway for reminding it :)

[2020-12-08 16:32] pawanpraka1 commented on #252
thanks @kangco-de . Would like to mention your use case in our Adopters.md https://github.com/openebs/openebs/issues/2719.

[2020-12-08 16:36] kangco-de commented on #252
As soon as it exits testing environment as it is still a personal proposal to the team to try to improve our pipelines. I cannot still talk for the teams as a whole :)

[2020-12-09 15:55] quexten commented on #112
I have the same issue. I was doing some unrelated work on the cluster, rebooted and suddenly none of my pods which are using a zfs-localpv volume are starting, with the same error.

[code]

I manually created this path after which the pod started fine. But this is obviously not the correct solution.
Reinstalling openebs or destroying and re-creating my zpool did not work.
My storage class:
[code]

[2020-12-09 16:17] pawanpraka1 commented on #112
@quexten this looks to be different issue. Can you elaborate a little bit about your cluster, is it on-prem cluster or the cluster is managed by any cloud provider? What is the k8s version you are using?

That directory normally gets created by the kubelet. I need to understand why it did not happen in your case.

[2020-12-09 16:54] quexten commented on #112
It is a testing cluster consisting of just a single node at the moment on a Ubuntu server. The Kubernetes version is 1.19.3. The ZFS-LocalPV version is the latest one from https://openebs.github.io/charts/zfs-operator.yaml . I've previously rebooted the node just fine with the mounts working afterwards. Sadly I'm not sure what I did to cause this to happen, so I'm not sure how to make this state r

[2020-12-13 13:34] ahlgol commented on #112
Also running ZFS-LocalPV with microk8s on a single node, and after a reboot this weekend the volumes won't get mounted. Have to create the pvc-.../mount manually. It has been running fine for 12 weeks before this, going through multiple reboots. Maybe its an upgrade microk8s that's causing trouble?

`Server Version: version.Info{Major:"1", Minor:"20+", GitVersion:"v1.20.0-37+7ab055a22f5440", GitCo

[2020-12-13 15:41] quexten commented on #112
I'm not using microk8s and still got the issue, so it must be something in general with the updates. Before I got this issue I did run a full system software upgrade. Setting up a new cluster with Kubernetes 1.20.0 lead to the same issue.

[2020-12-13 18:01] ahlgol commented on #112
Could this be relevant? (from k8s 1.20 release notes)

`
For CSI drivers, kubelet no longer creates the target_path for NodePublishVolume in accordance with the CSI spec. Kubelet also no longer checks if staging and target paths are mounts or corrupted. CSI drivers need to be idempotent and do any necessary mount verification. (#88759, @andyzhangx) [SIG Storage]
`

[2020-12-13 18:49] pawanpraka1 commented on #112
@ahlgol, yes that is the issue. We have already made the fix for that and it will be released in ZFS-LocalPV 1.2.0 (due on 15th of Dec 2020). You can try out the RC2 yaml `https://raw.githubusercontent.com/openebs/charts/2c77087c93fd9088984dc6dbe784ff8c6a6c8100/2.4.0/zfs-operator-RC2.yaml`. let me know if that fixes the issue.

[2020-12-14 06:46] #235 closed

[2020-12-14 10:39] ahlgol commented on #112
@pawanpraka1, Yup, the "mount does not exist" is gone now! :+1: Still getting some `verifyMount: device already mounted at` that I have to unmount manually from previous pods, and I have some new permission issues on mariadb:10 containers, but it might be unrelated. Will dig deeper tonight. Thanks!

[2020-12-14 11:54] pawanpraka1 commented on #112
thanks @ahlgol, There are 3 things here

1. `mount does not exist` issue is fixed :+1:.

2.  Got a new issue `verifyMount: device already mounted at` and you have to unmount manually from previous pods. This is interesting. How did you get into this issue? This should not hapen as after reboot the volume will get automatically umounted?
Can you elaborate the step to reproduce this?

3. You have pe

[2020-12-14 12:08] pawanpraka1 commented on #220
fixed via https://github.com/openebs/zfs-localpv/pull/232 and https://github.com/openebs/zfs-localpv/pull/256.

[2020-12-14 12:08] #220 closed

[2020-12-14 18:12] ahlgol commented on #112
Right!

for 2)

When I stop/start microk8s or reboot the machine the PVs are already mounted when the pods tries to start (stopping microk8s doesn't remove the mount). Not sure what mounts if after reboot yet as they obviously aren't present in fstab... Will investigate further.

Error message in full:
`MountVolume.SetUp failed for volume "pvc-5033d122-dcca-466e-88ba-bdb8bd3a8bce" : rpc error: cod

[2020-12-15 02:53] pawanpraka1 commented on #112
@ahlgol, I think, probably in k8s 1.20, the kubelet is asking more than once for the volumes to be mounted . We can check the ZFS-LocalPV daemonset log for the same and see if there is successful mount request for the same volume at the same path. Can you shared the full log to confirm this?

[2020-12-15 07:47] ahlgol commented on #112
Sure thing.

[csi-node-driver-registrar.log](https://github.com/openebs/zfs-localpv/files/5694099/csi-node-driver-registrar.log)
[openebs-zfs-plugin.log](https://github.com/openebs/zfs-localpv/files/5694100/openebs-zfs-plugin.log)

[2020-12-15 10:26] pawanpraka1 commented on #112
@ahlgol not able to find any trace of the mount request. It was failing since the beginning in the log. We have made a patch fix for the idempotency in the 1.2.1 release. We are finishing the release work for that. Here is yaml `https://raw.githubusercontent.com/openebs/charts/5669b65f17c026620c5e3369a9a1328c3c14f76c/zfs-operator.yaml`. This should fix the issue. But I am still curious to know how

[2020-12-15 22:29] ahlgol commented on #112
Thanks! Rebooting without issue now. :+1:

Not sure what went wrong either, and the mount failures where intermittent, mounting correctly sometimes. The mounts weren't created when disabling the microk8s service, so it was nothing external. Possibly a timing issue or network issues (the dns runs in microk8s as well, so it wasn't working) caused a hiccup, which restarted pods and so zfs-plugin trie

[2020-12-16 04:52] pawanpraka1 commented on #112
Nice!!

I guess, that is becasue the change in kubernetes 1.20 stopped creating the mount directory and also stopped checking if the volume is already mounted don't ask the CSI driver to mount again. There are a lot of CSI driver which depends on that. This must have broken many CSI drivers.

Not sure, the fix I made to solve the above issue is to create the directory with 777 permission. I see k8

[2020-12-17 08:44] ahlgol commented on #112
Sorry for taking some time to try it out - it works great! :+1:

However, I tried to switch back to the 1.2.1 driver and it seems to create a 755 umask as well now. Not sure what I did wrong before :-/

Thanks for the help! :-)

[2020-12-17 08:47] pawanpraka1 commented on #112
@ahlgol can you confirm? 1.2.1 is working for you, you did not need to try `pawanpraka1/zfs-driver:perm`.

[2020-12-17 13:54] pawanpraka1 commented on #112
@ahlgol this is very strange. We never hit this issue in our e2e pipeline. Any changes in the setup since you hit the issue last time?

[2020-12-17 13:59] ahlgol commented on #112
I haven't investigated this fully, but if I understand this correctly, the mounts for existing PVs were still created with 000 umask. I tried pawanpraka1/zfs-driver:perm with same result. Then I removed the complete namespace and it created a mount with 755 umask. I then moved back to openebs/zfs-driver:1.2.1 just to verify, and after namespace removal (afaikt) it created a mount with 755 as well.

[2020-12-17 15:17] pawanpraka1 commented on #112
The only different between `openebs/zfs-driver:1.2.1` and `pawanpraka1/zfs-driver:perm` is mount difrectory permission. the `1.2.1` image creates the directory with 0000 permission where `perm` image creates the directory with 0755 permission. Not sure why it was not working with 1.2.1 in your case and suddenly started working now :thinking: .

[2020-12-18 06:51] pawanpraka1 commented on #112
@ahlgol Closing this issue for now. Please reopen a new bug if you face any issues.

[2020-12-18 06:51] #112 closed

[2020-12-21 18:30] ahlgol commented on #112
@pawanpraka1 Sure thing! I'm sorry I don't have more time to put on this right... too many Christmas deadlines ^_^ Curiously I noticed that most of my "old" mounts had reverted to 000 a day ago or so, leaving only the new mount with 755. However, when I notice the problem I can just run a `find` command that chmods all the mount dirs - no biggie. Thanks for your help and all your effort! Will open

[2020-12-22 04:13] pawanpraka1 commented on #112
Thanks @ahlgol, Let me know if you need any help troubleshooting it. I am also very curious about the problem you are facing. We are not facing that problem on our local setup or in our e2e pipeline. I already have a PR (https://github.com/openebs/zfs-localpv/pull/262) for this which was used to build `pawanpraka1/zfs-driver:perm` image, hoping that will fix the issue. Happy Holidays and Merry Chr

[2021-01-03 13:33] ThisIsQasim opened #268 "ZFS properties"
Is there a way to set custom properties for the zfs child volumes created? I am looking to set `readlimit` and `writelimit` on individual pods to prevent them from hogging resources from pods on the same host.

[2021-01-04 04:21] pawanpraka1 commented on #268
@ThisIsQasim Which ZFS version you are using? Does OpenZFS supports setting `readlimit` and `writelimit` on the dataset?

[2021-01-04 06:37] ThisIsQasim commented on #268
So I checked and apparently these properties are only available on Solaris and not implemented in OpenZFS.
Sorry for wasting your time. Thank you for the awesome project though!

[2021-01-04 06:37] #268 closed

[2021-01-07 05:08] #215 closed

[2021-01-07 15:10] tahajahangir opened #272 "PV/Dataset metrics"
ZFS exposes several dataset metrics:

[code]
Can we have this metrics per PV?

The related issue in `prometheus/node_exporter` for scraping these metrics:
https://github.com/prometheus/node_exporter/issues/1602

[2021-01-11 06:57] pawanpraka1 opened #273 "stale mount entries after node reboot"
**What steps did you take and what happened:**

When node reboots, the volume will not be mounted as there is no entry in the fstab. The kubelet does not do NodeUnPublish call to the csi driver which will unmount and clean the mount path, this will lead to stale mount point exist on the node.

**What did you expect to happen:**

Stale mount point should not be present.

[2021-01-11 11:30] pawanpraka1 commented on #272
@tahajahangir, if promethes's node exporter exposes it, then it should be available for ZFS-LocalPV also. Could you try the latest node exporter?

[2021-01-14 15:38] kmova opened #276 "Minor usability/text fixes for ZFS Local PV helm chart"
- The branch name in the badge URL needs to be fixed in https://github.com/openebs/zfs-localpv/tree/zfs-localpv-1.3.0/deploy/helm/charts

- Set the description for this [Helm chart ](https://github.com/openebs/zfs-localpv/blob/master/deploy/helm/charts/Chart.yaml)as follows. This information will be used in creating the helm release.
  `Helm chart for CSI Driver for dynamic provisioning of ZFS Per

[2021-01-16 14:49] ishioni opened #279 "parsed scheme: "" logspam"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.]
Installed with helm chart, I get
[code]

**What did you expect to happen:**
No logspam

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https://gist.github.com) or other [Pastebin](https://

[2021-01-31 19:00] coboluxx opened #280 "Unable to resize block device volume"
The openebs-zf-plugin tries a resizefs on a volumeMode=Block volume which fails obviously.

**What steps did you take and what happened:**

Create a StorageClass like:

[code]

Create a PVC with:
[code]

Try to resize this volume
kubectl patch pvc test-pvc --patch='{"spec":{"resources":{"requests":{"storage":"20G"}}}}'

**What did you expect to happen:**
Volume resized.

**The output of the follow

[2021-02-01 05:40] pawanpraka1 commented on #280
Resize of block is not supported yet. Thanks for reporting this. @coboluxx.  Will add this feature in this release(due on 15th of feb). What is the k8s and zfs-localpv version you are using @coboluxx?

[2021-02-01 05:43] coboluxx commented on #280
@pawanpraka1  Just looked at the source and I think all that is missing in zfs_util.go ResizeZFSVolume() is:

[code]

[2021-02-01 05:52] pawanpraka1 commented on #280
@coboluxx that will not solve this as we need to support resize for ext4 and xfs file system where we create zvol and format it with the corresponding filesystem.

[2021-02-01 05:54] pawanpraka1 commented on #280
we need to figure out if it is a raw block volume then do not attempt to filesystem resize on it, the way we do for lvm here (https://github.com/openebs/lvm-localpv/blob/master/pkg/driver/agent.go#L308).

[2021-02-01 06:46] pawanpraka1 commented on #280
@coboluxx have raise a PR https://github.com/openebs/zfs-localpv/pull/281 to fix this.

[2021-02-01 09:08] coboluxx commented on #280
@pawanpraka1 Can you release this on the 1.3 branch? I have some services no longer starting because they are waiting for the pending resize operation...

[2021-02-01 11:47] pawanpraka1 commented on #280
@coboluxx as soon as the PR gets merged you can update the image to the latest one (https://hub.docker.com/r/openebs/zfs-driver/tags?page=1&ordering=last_updated) as after that all the services should be up and running.

[2021-02-02 03:49] ngbrown opened #282 "Support fsGroup?"
**Describe the problem/challenge you have**
I setup zfs-localpv to use with [prometheus helm chart](https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack). However, once I setup the volume claim, I got this error when runing the prometheus pod:

[code]

Prometheus runs it's pod with the following as defaults:

[code]

I also tried adding `fsGroupChangePolicy: "

[2021-02-02 05:39] pawanpraka1 commented on #282
@ngbrown can you update the csi drive spec (https://github.com/openebs/zfs-localpv/blob/master/deploy/zfs-operator.yaml#L1044) and add ` fsGroupPolicy: File` and see if that is working.
[code]

[2021-02-02 06:58] pawanpraka1 opened #283 "add backup/restore BDD for ZFS-LocalPV"

[2021-02-02 07:14] #280 closed

[2021-02-02 07:34] pawanpraka1 commented on #280
@coboluxx can you patch the driver image with the `openebs/zfs-driver:ci`. That should bring all the services up. Make sure it gets pulled because the openrator has imagepullpolicy as `IfNotPresent` so if old ci image is there on the system it will not pull the latest ci image.

[2021-02-02 08:27] coboluxx commented on #280
@pawanpraka1 You guys rock! Would be great to have an 1.3.1 version of the zfs-driver. Felling a little uncomfortable having the :ci tag in production ;)

[2021-02-02 09:20] pawanpraka1 commented on #280
@coboluxx as this is a feature, so it makes sense to have a new release for this. Making it patch release will need a lot effort as it has to go through the whole e2e testing cycle and then helm chart update and other release stuff. If you can wait till 15th then you can directly upgrade to 1.4 release.

[2021-02-02 12:44] pawanpraka1 commented on #282
@ngbrown I tested this on my lab cluster which is running with k8s 1.20. The above is working file. I noticed that the default fsGroupPolicy is `ReadWriteOnceWithFSType` which means that it will work only if fstype is provided in the storageclass. So in the above solution I suggested to use fsGroupPolicy as `File` which will apply fsgroup , regardless of the filesystem type or PersistentVolumeClai

[2021-02-02 17:27] ngbrown commented on #282
Good catch on my StorageClass not setting `fstype`. It must have been creating the file system as `ext4`.  Without the changes to CSIDriver, I also tried re-creating the StorageClass with setting `fstype: "zfs"`, and that worked as expected.

I then tried deleting the CSIDriver and re-applied it with the change, then restarted the cluster.  New volume claims now applied the file ownership to the g

[2021-02-03 09:58] pawanpraka1 commented on #282
Thanks for confirming this @ngbrown. `ReadWriteOnceWithFSType` make sense as each volume is examined at mount time to determine if permissions should be recursively applied. It relies on fsType defined in the storageclass and the persistent volume's accessModes should contain ReadWriteOnly. Closing this issue.

[2021-02-03 09:58] #282 closed

[2021-02-05 09:42] artw opened #286 "Cannot restore backups to encrypted pools"
I'm having trouble restoring PVs with velero, it always fails with mysterious error
[code]

The detailed info is posted at velero-plugin repo, as it seemed more relevant. Would be glad if someone helps me to debug this.

# https://github.com/openebs/velero-plugin/issues/145

[2021-02-05 09:48] pawanpraka1 commented on #286
@artw can I get the node daemonset(openebs-zfs-node-xxxx) log in kube-system namespace?

[2021-02-05 09:53] artw commented on #286
@pawanpraka1  that was fast, thank you! I did not know where to look

`│  could not restore the volume data/k3s/pv/pvc-51791429-c865-4439-8c76-387d335c8cd3 cmd [-c nc -w 3 10.42.0.35 9010 | zfs recv -F data/k3s/pv/pvc-51791429-c865-4439-8c76-387d335c8cd3] error: cannot receive new filesystem stream: zfs receive -F cannot be used to destroy an encrypted filesystem or overwrite an unencrypted one wi

[2021-02-05 09:57] pawanpraka1 commented on #286
can you share `zfs-pvc-51791429-c865-4439-8c76-387d335c8cd3-redis-test.zfsvol` from the backup? Is there encryption any setting?

[2021-02-05 10:23] artw commented on #286
The pool is encrypted with aes-256-gcm, the snapshot is not (I can  recv it on another box w/ encryption=off and it stays off)

 snapshot metadata:

[code]
The data (pipe through base64 and gunzip)
[code]

I can do recv (without -F) on the same pool fine and it inherits encryption from parent
[code]

[2021-02-05 10:34] pawanpraka1 commented on #286
are you restoring it on the same cluster and on the same node? If it is the different node where we are restoring then can you try keeping encryption setting  same on both the node? can you try the recv with -F and let me know the error?

[2021-02-05 10:54] artw commented on #286
all nodes are the same, I can import it fine with -F.
I redid the restore. The problem is that zfs-plugin first creates the volume manually, then tries to overwrite it with the snapshot. Is that step really needed?

[code]

[2021-02-05 11:20] pawanpraka1 commented on #286
I see using "-F" while doing restore is a problem for encrypted volumes as zfs does not allow to use -F on it. It was done to roll back any changs which might have be done, but it is highly unlikely that it happens. Probably we can safely remove -F option from here https://github.com/openebs/zfs-localpv/blob/master/pkg/zfs/zfs_util.go#L345.

[2021-02-05 11:32] artw commented on #286
No, this would not work. -F is needed to overwrite a dataset. The proper solution would be to create and use another function, like CreateVolumeFromSnapshot, that will not do zfs create first, but recv, and  would still create all needed metadata abstractions.

[code]

[2021-02-05 11:34] pawanpraka1 commented on #286
To answer this question, we need to have ZFSVolume object, which in turns creates the volume. Then we restore on that volume. This object is needed so that we can mount the volume and do various operation like zfs property change etc.

[2021-02-05 11:43] pawanpraka1 commented on #286
Good point. yeah, it dataset exists then we need to provide "-F" option. Can you confirm if we are creating a dataset in the encrypted pool and then restore with "-F" fails?

[2021-02-05 11:44] artw commented on #286
Already did, please see the snippet below my previous comment

[2021-02-05 11:59] artw commented on #286
I tried to receive a "raw" snapshot created using `zfs send -w`, it fails the same way. I suppose it is not possible to overwrite an encrypted volume at all with openzfs...

[code]

[2021-02-05 12:02] pawanpraka1 commented on #286
hmmm, so that means we can never restore the data on the encryption volume (strange!!!) as we have to provide -F option. However it is possible do that on non encrypted volumes.

[2021-02-05 12:28] artw commented on #286
It seems that the only way you can with work with existing  encrypted volumes is through replication streams (incremental backups). And you need to use -w then (raw data).

[code]

By the way the zfs-localpv does not use -w. Is it configurable by the way? It is less portable, but snapshots are both encrypted and compressed if the source is. It may be desirable. In my case I don't really care about

[2021-02-05 13:10] pawanpraka1 commented on #286
no, not as of now. We need to find out a proper solution for this which can work for all cases.

[2021-02-05 15:39] pawanpraka1 commented on #286
@artw we need to make some design changes to fix this. The only solution I can think of right now is to restore the volume first and then create the ZFSVolume object. If volume already exists, the creation of ZFSVolume does not do anything.

For now, if you want to recover the data, you can manually create the volume without encryption and then do the velero restore.
`zfs create -o encryption=off

[2021-02-05 16:24] artw commented on #286
@pawanpraka1 yes, this is a tricky one.

`zfs create -o encryption=off`
Yes, this works. Biggest problem is that there is no way to re-encrypt the restored dataset, apart from using something like rsync. . I was sure you could do something like send/receive locally to encrypt, but no. ZoL encryption still ways to go I guess

#https://github.com/openzfs/zfs/issues/10484

[2021-02-05 17:45] pawanpraka1 commented on #286
Yes @artw, we will fix it so that we don't need to restore it in not encrypted dataset.

[2021-02-05 18:10] artw commented on #286
actually I was wrong, `zfs recv -o encryption=aes-256-gcm` works, that issue I referred is not relevant. so its not too bad

[code]

[2021-02-09 23:40] yydzhou commented on #185
Is there any progress or timeline on this feature?  It's an important feature.

[2021-02-10 06:24] pawanpraka1 commented on #286
adding the openzfs issue for reference here : https://github.com/openzfs/zfs/issues/6793.

[2021-02-14 16:08] tahajahangir commented on #272
I didn't understand the phrase " it should be available for ZFS-LocalPV".
The node exporter metrics are scraped and available (like `node_zfs_zpool_dataset_nread`), but they contain only  dataset-name (not namespace/pvc-name). We created a dashboard with expressions like this to join this data with pvc-name:

[code]
@pawanpraka1

[2021-02-16 08:25] artw opened #291 "utilize zfs replication to migrate PVs between nodes"
zfs replication is pretty unique tool in the block storage world of OSS, why not utilize it for something awesome like that.

Some annotation to PVC, that would trigger a snapshot/replicate/delete source/ modify or recreate PV object.

[2021-02-16 13:39] pawanpraka1 commented on #185
@yydzhou we have not yet prioritized this feature, we will pick this task for the next release..

[2021-02-16 13:54] pawanpraka1 commented on #291
@artw you mean asynchronous replication? Why not use the velero and create the schedule to take the periodic backup?

[2021-02-16 18:54] artw commented on #291
I do, and it works quite well, thanks.

It would be much more effective to move the data between nodes directly utilizing the openebs-zfs-node daemonset.

To think of it further, you could even do it regulary to have HA PVs mirrored between all (or some) nodes 🤔

[2021-02-17 08:22] pawanpraka1 commented on #286
@artw I have made some design changes where we are creating the ZFSVolume after the restore is done. Here are the PR links (still work in progress)
1. ZFS-LocalPV: https://github.com/openebs/zfs-localpv/pull/292
2. Velero: https://github.com/openebs/velero-plugin/pull/147

I don't have encrypted pool setup, could you help me verify this change. To verify, we need to install the below zfs operator

[2021-02-17 09:13] artw commented on #286
@pawanpraka1 wow, that was fast! Just tested it, worked fine. Encryption is preserved after restore

[code]
[code]
[velero backup logs redis](https://gist.githubusercontent.com/artw/c6f7da3efc57690a929f5f6736b6f76e/raw/f5b92699f659f887368f251ef63cbbc14cbcf0e9/gistfile1.txt)

[code]

[velero restore logs redis-20210217105707](https://gist.githubusercontent.com/artw/62b73143b21a21b06971caf3faa8bbbf/

[2021-02-17 11:15] pawanpraka1 commented on #286
thanks for confirming @artw. would you mind mentioning your use use in our Adopters file https://github.com/openebs/openebs/issues/2719.

[2021-03-01 18:26] #286 closed

[2021-04-01 06:52] w3aman opened #300 "can not mount zfs dataset from encrypted zpools due to read-only state after node_failure chaos"
**What steps did you take and what happened:**
(k8s 1.20, ubuntu 20.04, zfs-driver:ci image)
i created one encryoted-zpool on node with this command (created manually on  node)
```sudo zpool create -O encryption=on -O keyformat=passphrase -O keylocation=prompt zfs-test-pool /dev/sdb```.
Now one application is using dataset on this pool. If we power off the vm for some time (say 5 min, more than de

[2021-04-01 17:29] centromere opened #302 "Prevent deletion of ZFS dataset"
**Describe the problem/challenge you have**
When a ZFSVolume Kubernetes resource is deleted, its corresponding dataset on the host is also deleted. There is no way to disable this functionality.

**Describe the solution you'd like**
I would like a flag to be added to the ZFSVolume resource which indicates that the underlying dataset is not to be deleted when the resource is deleted.

**Environment

[2021-04-05 20:41] almereyda commented on #300
After restarting the node, did you also replicate the manual intervention neccessary for having encrypted ZFS, and load the key into the dataset?

[2021-04-06 05:37] w3aman commented on #300
Yes, it worked. Thanks @almereyda
when the node was powered off keystatus became unavailable.
[code]
Firing the following command reloaded the keys. Zpool at root was encrypted here.
[code]
[code]

[2021-04-06 08:41] #300 closed

[2021-04-06 14:33] #302 closed

[2021-04-08 17:20] w3aman opened #309 "Error propagation support from daemonset to controller"
**Describe the problem/challenge you have**
[A description of the current limitation/problem/challenge that you are experiencing.]

- Right now if pvc creation fails for any reason say(out of space), controller logs dont have that information.
it only say volume creation failed.

[code]
daemonset logs have the logs with reason

[code]

**Describe the solution you'd like**
[A clear and concise desc

[2021-04-09 18:20] w3aman opened #310 "velero restore gets stuck in in-progress state"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.]

Ubuntu 20.04
k8s: 1.20
velero version: 1.5.1
openebs velero plugin version: 2.8.0-RC1
zfs-driver: 1.6.0-RC1
encrypted zpools

- restore was performed in same namespace as of original volume. first took the backup and after that deleted the original volume and namespace.

[2021-04-20 06:29] kmova opened #316 "ZFS Local PV - GitHub Updates"
- [x] README Updates
  - [x] Badges
  - [x] Project Status - Beta
  - [x] k8s version compatibility
  - [x] Quickstart guide
  - [x] Contributor Docs
  - [x] Adopters.md with links to openebs/openebs adopters
  - [x] Roadmap link to openebs project
  - [x] Community Links
- [x] Helm Charts
- [x] GitHub Builds
- [x] Multiarch builds
- [x] Disable Travis
- [ ] ~Downstream tagging~
- [x] e2e tests
-

[2021-05-12 00:39] mazocode opened #328 "No zfs-driver version referenced within operator"
The operator yaml (version 1.5.x, 1.6.0, 1.6.1) is referencing the zfs-driver CI build (openebs/zfs-driver:ci) but it looks like there are breaking changes in 1.7 (expects --nodename instead of --nodeid) which results in an error with older versions:

Please add the image version to existing and new releases (ie openebs/zfs-driver:zfs-localpv-1.6.1-ci).

[2021-05-12 04:31] pawanpraka1 commented on #328
@mazocode, we have moved the operator yaml to charts repo. Please see the installation step in the release page here https://github.com/openebs/zfs-localpv/releases/tag/v1.6.0.

[2021-05-13 16:54] #328 closed

[2021-05-16 14:28] RealHarshThakur commented on #218
@pawanpraka1 Would adding a finalizer work?

[2021-05-16 16:30] pawanpraka1 commented on #218
@RealHarshThakur that will not help here as CR will be marked for deletion which is what we want to avoid here.

[2021-05-31 06:29] w3aman commented on #310
/ didn't hit this issue after that one instance, closing this issue now.
/closed

[2021-05-31 06:29] #310 closed

[2021-06-01 17:20] mazocode opened #337 "operator files are referencing :ci build of zfs-plugin (openebs/zfs-driver image)"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.]

Controller pod (v1.6.1) got rescheduled and boom...

E0601 16:15:26.150385       1 reflector.go:138] github.com/openebs/zfs-localpv/pkg/driver/controller.go:120: Failed to watch *v1.ZFSNode: failed to list *v1.ZFSNode: zfsnodes.zfs.openebs.istem:serviceaccount:kube-syste

[2021-06-02 02:02] pawanpraka1 commented on #337
@mazocode how are you installing ZFS-LocalPV? We have fixed all the branche's operator yaml with the corresponding image tag https://github.com/openebs/zfs-localpv/issues/328.

[2021-06-09 09:59] pawanpraka1 commented on #337
@mazocode are you able to figure out the operator yaml location? Can we close this issue?

[2021-06-11 12:11] pawanpraka1 commented on #291
@artw, sorry, I missed this thread. So basically, we need a data migration framework from one node to other without using velero. This can be done easily, as matter of the fact, velero already uses node daemonsets to backup/restore the data. We just need one operator which can help us to migrate the data from one node to other. This feature is in our roadmap.

[2021-06-11 12:13] pawanpraka1 commented on #272
This is great @tahajahangir. Adding this to our roadmap. Thanks.

[2021-06-14 10:04] mazocode commented on #337
@pawanpraka1 We can close this issue, thanks for updating!

[2021-06-14 10:04] #337 closed

[2021-06-24 17:23] sonicaj opened #351 "Openebs-zfs-controller crashes on PVC request"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.]
As soon as a PVC is created, we see openebs-zfs-controller crashing and then after some time the PVC updates its status to bound.

Example of PVC
[code]

I have multiple machines and was not able to reproduce it but a user is successfully able to reproduce this on his mac

[2021-06-24 17:30] pawanpraka1 commented on #351
@sonicaj by any chance do you the backtrace? Where it is crashing? Also, what is the version of ZFS-LocalPV?

[2021-06-24 17:34] sonicaj commented on #351
@pawanpraka1 can you please guide me on both ? I used https://github.com/openebs/zfs-localpv/blob/master/deploy/zfs-operator.yaml on a fresh cluster - so that would be the tags on latest.

[2021-06-24 18:03] pawanpraka1 commented on #351
If have installed from master yaml then it will have ci tag which might not pull the latest image because of ifnotpresent image pull policy. In case it has pulled the images that will have latest changes. To install the latest release you should do `$ kubectl apply -f https://openebs.github.io/charts/zfs-operator.yaml`. Can you check the controller log in the users setup? Initial lines should tell

[2021-06-24 18:05] sonicaj commented on #351
@pawanpraka1 i shared the logs in pastebin links above ?

And it was a fresh start which means that no images were cached locally - we can safely say that it pulled the tags today.

[2021-06-24 18:06] pawanpraka1 commented on #351
Yes, I guess you are not able to reproduce. Right? I need the same from the setup where it is crashing?

[2021-06-24 18:07] sonicaj commented on #351
@pawanpraka1 i am not able to reproduce at all on my system and even on a VM i tried. It's however reproducible for the user who reported it to us.

[2021-06-24 18:09] sonicaj commented on #351
Going to share his github handle here, so you can perhaps debug this more meaningfully in case access to the system is required ( waiting for the user's response, will post as soon as i have it ).

[2021-06-24 18:11] pawanpraka1 commented on #351
@sonicaj I see the bug filed on the jira. It seems, user is using ci images, which is not a problem but he should be using release tag images. If possible, can you get me this o/p `kubectl logs -f openebs-zfs-controller-0 -n kube-system -c openebs-zfs-plugin -p` from the user.

[2021-06-24 19:02] AlexanderHamza commented on #351
@sonicaj  @pawanpraka1  the user is here :) ready to help

[2021-06-24 19:05] sonicaj commented on #351
@AlexanderHamza can you please share the output of command @pawanpraka1 pointed out ?
( also you would have to either do `k3s kubectl logs` or `k logs` on your system for the command to work as `kubectl` directly isn't available )

[2021-06-24 19:05] AlexanderHamza commented on #351
@pawanpraka1  here it is
[code]

[2021-06-24 19:47] AlexanderHamza commented on #351
Just restarted the system and now the whole cluster is down due to:

[code]

[code]

[2021-06-25 04:55] pawanpraka1 commented on #351
Thanks for the log @AlexanderHamza. Have raised the PR to fix this issue https://github.com/openebs/zfs-localpv/pull/353.

[2021-06-25 06:14] #351 closed

[2021-06-25 09:46] pawanpraka1 commented on #351
@AlexanderHamza @sonicaj  the fix is merged and is available in the latest ci image. It will be included in our next release tag which is 1.9.0. if you want, you can try the xi image and verify it.

[2021-06-25 10:55] AlexanderHamza commented on #351
Hello @pawanpraka1, I just pulled the latest changes and can confirm that I can't reproduce the issue. I still see Openebs-zfs-controller crashes with another message:

[code]
 If this is related to you, should I open a separate issue?

[2021-06-25 12:02] pawanpraka1 commented on #351
@AlexanderHamza saw your comment in my mail describing about some issue. Not able to see that comment here, are you facing some other issue?

[2021-06-25 12:26] AlexanderHamza commented on #351
@pawanpraka1 yeaah, sorry, was too fast and posted not relevant log.
So what happens now is openebs-zfs-controller crashes from time to time on its own.

openebs-zfs-plugin
logs from
[code]

logs from csi-snapshotter
[code]

logs from csi-resizer
[code]

logs from csi-provisioner
[code]

[2021-06-25 12:49] pawanpraka1 commented on #351
hmmm, csi-snapshotter, csi-resizer, csi-provisioner is crashing? They are the k8s images. Can you share the describe of openebs-zfs-controller-0 pod? Also can you describe about your k8s setup also? Which version you are using, how many nodes are there?

[2021-06-25 13:05] AlexanderHamza commented on #351
It's a single-node cluster.

[code]

[code]

Name:                 coredns-7448499f4d-gn6wf
Namespace:            kube-system
Priority:             2000000000
Priority Class Name:  system-cluster-critical
Node:                 ix-truenas/192.168.10.15
Start Time:           Thu, 24 Jun 2021 17:59:08 +0200
Labels:               k8s-app=kube-dns
                      pod-template-hash=7448499f4d
Anno

[2021-06-25 13:21] pawanpraka1 commented on #351
k8s side cars are crashing, it is pointing that there is some issue with the setup. Can you try the 1.5.0 release of zfs-driver and let me know if the issue still persist.
[code]

[2021-06-25 13:33] AlexanderHamza commented on #351
@pawanpraka1 so far no issues at all. Moreover, the performance is improved. Previously the deployment of an app took about 2-8 minutes now it takes 30+ seconds. See no crashes at all. Let me test it for another hour and see if it remains stable.

[2021-06-25 13:49] AlexanderHamza commented on #351
@pawanpraka1 it was stable for about 20 minutes, now I see this

[code]

[code]

[code]

[2021-06-25 13:53] pawanpraka1 commented on #351
Anything weird with openebs-zfs-plugin container? Just trying to isolate the problem. Seems to be k8s components are not behaving correctly.

[2021-06-25 13:55] AlexanderHamza commented on #351
so far nothing at all

[2021-06-25 14:03] pawanpraka1 commented on #351
Ok, let us open a new issue then. Does not look to be ZFS-LocalPV issue, need to debug this.

[2021-06-25 14:15] pawanpraka1 commented on #351
Can you also share the csi-provisioner and csi-snapshotter log with -p option in the issue.

[2021-06-25 14:21] AlexanderHamza commented on #351
csi-snapshotter
[code]

csi-provisioner

[code]

[2021-06-25 14:31] pawanpraka1 commented on #351
Can you check if there is any issue with kube-api-server? Seems to be some issue with that component.

[2021-06-25 18:25] AlexanderHamza commented on #351
@prateekpandey14 @pawanpraka1  i don't have  expirience with kubernetes. Please guide me on how to do what you are asking me to do. Sorry :)

[2021-06-25 18:28] AlexanderHamza commented on #351
Not really, it is a clean installation of the TrueNas scale, it happens from the very first minute, I spotted it just because of logs being monitored.

[2021-06-28 10:03] prateekpandey14 commented on #351
@AlexanderHamza , I can see the same `connection refused` error logs in DNS pod as well , which points out that there is some issue with kube-apiserver/cluster health.

can we check the with trueNAS team as well ,about this issue, since we can not check the status of kube-apiserver or kube-control-manager pods ?

[code]

[2021-06-28 10:06] AlexanderHamza commented on #351
@prateekpandey14 yes, will report it to ix-systems later today

[2021-06-28 14:09] prateekpandey14 commented on #351
@AlexanderHamza you can get more kube api specific logs using using `journalctl -u k3s`

[2021-06-28 17:53] AlexanderHamza commented on #351
@prateekpandey14
here it is:

[code]

[2021-06-30 01:01] joshuacox opened #354 "Add rancher operator"
**Add rancher operator**

In the installation docs I think there could be examples given on the alternate kubelet paths, as there is a bit of ambiguity in the docs in that there are multiple locations that kubelet is mentioned in the yaml and it is not entirely clear which ones to edit.

**Describe the solution you'd like**
I have one [here](https://gist.github.com/joshuacox/8e79ef49fe61f3a0e48317

[2021-06-30 10:19] pawanpraka1 commented on #354
@joshuacox is the deployment working on RancherOS with the PR you have raised? Can you test with the similar changes for LVM also (https://github.com/openebs/lvm-localpv/issues/112).

[2021-06-30 14:28] joshuacox commented on #354
@pawanpraka1 you bet.  One quick question, do you know of the best way to go about this?  Should I try and

[2021-07-01 07:02] #316 closed

[2021-07-01 08:11] ThomasLohmann opened #356 "ZFS 2.0 support?"
Hi everyone,

do you have any plans to support ZFS version 2.0+ asap? A couple of useful features have been added to this version and the current OpenEBS ZFS Driver still only supports version 0.8. Please, see the following link for more details: https://github.com/openzfs/zfs/releases/tag/zfs-2.0.0

Best regards,
Thomas

[2021-07-02 03:17] #354 closed

[2021-07-07 16:17] mazocode commented on #291
@pawanpraka1 It would be awesome to have something like syncoid integrated. This would make synchronization and moving PVs  between nodes a breeze. We are using kubevirt which does not support live migration of local PV volumes but with something like syncoid it would require a quick reboot only. We're currently doing this for backups (snapshot replication of the PVs to dedicated backup servers).

[2021-07-08 11:59] pawanpraka1 commented on #356
@ThomasLohmann have you tried with ZFS 2.0. I guess it should work without any issue.

[2021-07-13 17:45] Daniel-Nashed opened #358 "Owner for mounted volume is always root with no write for group and world."
Looks like there is no way to change that.
So applications not running as root cannot write to this mount.

Is there any way to change the permissions to let group/world also to read it?

Example:
[code]
I have installed the latest version on Ubuntu 20.10 LTS with MicroK8s and also on CentOS Stream 8 with latest k3s with the same results. And I did not find any way to work-around it beside using a

[2021-07-14 02:42] pawanpraka1 commented on #358
@Daniel-Nashed you can use fsgroupPolocy to set the permission for the applications. See this discussion https://github.com/openebs/zfs-localpv/issues/282. You need k8s 1.20+ for this.

[2021-07-14 06:28] Daniel-Nashed commented on #358
Thanks for your quick reply!

I checked my driver and I am running on K8s version v1.21.2.
So all the functionality should be there.

My CSI driver has set

[code]

And when you try to change it to `None` or any other value I get the error that this is an invalid value.

I also tried to use the following two in the `securityContext` of the pod. Both are also reported as invalid when you try to run

[2021-07-14 11:37] pawanpraka1 commented on #358
@Daniel-Nashed you don't need to change the CSI driver setting. The default fsGroupPolicy is ReadWriteOnceWithFSType. Can you try the security-context-demo.yaml.txt mentioned in the issue https://github.com/openebs/zfs-localpv/issues/282. Seems to be some issue the yaml you are using.

[2021-07-14 12:18] Daniel-Nashed commented on #358
Thanks, tried it an I cannot write into `/demo` .
The ultimate goal here is to change the permissions to 777 for the mount.
It would be also OK if the user can write specifying `fsGroup`. In my test with the demo it did not show any difference.

[code]

[2021-07-14 13:29] mittachaitu commented on #358
This is causing due to specifying `fsGroupChangePolicy` & `fsGroup` under `container.securityContext` but it should be at pod level security context(since same volume is shared across containers in same pod). For example:
[code]

[2021-07-14 14:15] Daniel-Nashed commented on #358
Thanks! I  did miss that. We are used to set all on container level. But I understand.
The permissions changed and also the user:

[code]
I will have to check the other options discussed as well.
But I wanted to give immediate feedback that it worked.

[2021-07-14 14:15] #358 closed

[2021-07-16 12:02] jr0dd opened #360 "Import existing dataset"
The docs are not very clear on getting this working. I was originally just using hostpath pv/pvc's, but figured I might as well take full advantage of your CSI for my pre-existing datasets. From what I gather it doesn't like me using a child dataset for the volume.

zfs-node logs:
[code]

[code]
[code]
[code]

[2021-07-16 13:56] pawanpraka1 commented on #360
@jr0dd can you share the ZFSVolume CR also?

poolname parameter can be treated as parent dataset. So you don't need to add dataset path in the volume handle. You need to do this for PV
[code]

And you need to create the ZFSVolume CR with poolName parameter as `containous/datastore/deadpool`.

[2021-07-16 14:16] jr0dd commented on #360
@pawanpraka1 Oops, copy & paste fail. I updated my initial post with the ZFSVolume. I will try adjusting my pv's later today and try again.

[2021-07-16 16:07] jr0dd commented on #360
Well I tried again and the pod just stays creating because zfspv can't find the dataset. I did do a `zfs umount deadpool/containous/datastore/heimdall`

[code]

[code]
[code]
[code]

[2021-07-16 16:34] pawanpraka1 commented on #360
@jr0dd you have to create the ZFSVolume cr in the openebs namespace.

[2021-07-16 17:23] jr0dd commented on #360
@pawanpraka1 ok making a little progress.

[code]

[2021-07-17 08:18] pawanpraka1 commented on #360
Hmmmm, it seems like for your k8s environment the kubelet directory is /mnt/var/lib/kubelet. Can you update the Operator yaml and replace /var/lib/kubelet to /mnt/var/lib/kubelet at all the places and apply it.

btw, which k8s flavour you are using?

[2021-07-19 07:37] #276 closed

[2021-07-20 22:12] jr0dd commented on #360
I'm using truenas scale which has k3s pre-loaded. I'm just going to stick with hostpath pv/pvc's on this node. Datasets that contain media are shared over samba to local computers as well as mounted in some containers, so losing that access is not ideal.

[2021-07-22 05:01] pawanpraka1 commented on #360
@jr0dd sure.

[2021-07-23 07:28] sbidoul opened #364 "Missing zfsnode-crd.yaml in kustomization.yaml resources"
**What steps did you take and what happened:**

When installing using kustomize as mentioned in the readme, the `zfsnodes.zfs.openebs.io` crd is not created.

**What did you expect to happen:**

`kubectl apply -k deploy/yamls` should install all necessary resources, similar to what `kubectl apply -f deploy/zfs-operator.yaml` does.

[2021-07-23 07:36] pawanpraka1 commented on #364
@sbidoul zfsnode CRD is already there in the deploy yamls https://github.com/openebs/zfs-localpv/tree/master/deploy/yamls.

[2021-07-23 08:00] sbidoul commented on #364
Yes but it is missing in [kustomization.yaml](https://github.com/openebs/zfs-localpv/blob/c0653530bd457030f1e4079d2f1730548150c44a/deploy/yamls/kustomization.yaml#L4).

[2021-07-23 08:08] pawanpraka1 commented on #364
@sbidoul right. Would you like to raise a PR to fix that?

[2021-07-23 08:10] sbidoul commented on #364
I can do that. Which should be the target branch (master or 1.9.x) ?

[2021-07-23 08:45] pawanpraka1 commented on #364
It is the master branch.

[2021-07-24 13:46] #364 closed

[2021-08-10 06:47] pawanpraka1 commented on #356
@grouchojeff have you tried ZFS-LocalPV with ZFS 2.0?

[2021-08-10 07:16] ThomasLohmann commented on #356
@pawanpraka1 not yet. Since we have a Kubernetes cluster on bare-metal and it's not so easy to just update it. Are you able to test it?

Best regards,
Thomas

[2021-09-09 05:34] jim3ma commented on #360
Because the `altroot` property of zpool is "/mnt", we need bind mount `/var/lib/kubelet ` to `/mnt/var/lib/kubelet` to workaround.

Add `ExecStartPre` `/usr/bin/mount -o bind /var/lib/kubelet /mnt/var/lib/kubelet` to `/lib/systemd/system/k3s.service`, then change `mountPropagation` to `Bidirectional` for `host-root` in daemonset.

the config of /lib/systemd/system/k3s.service:
[code]

daemonset of

[2021-09-09 06:31] pawanpraka1 commented on #360
Great @jim3ma.

Have you tried replacing /var/lib/kubelet with /mnt/var/lib/kubelet in the operator yaml and then apply it?

[2021-09-09 09:51] jim3ma commented on #360
I have just bind mount it to /mnt/var/lib/kubelet, all things is ok.

[2021-09-13 20:16] jr0dd commented on #360
How exactly are you disabling the zfs-operator? I would much rather use the helm chart in SCALE.

[2021-09-14 00:39] jim3ma commented on #360
@jr0dd touch a empty file: `/mnt/data/ix-applications/k3s/server/manifests/zfs-operator.yaml.skip`

`/mnt/data` is the zpool k3s used.

[2021-09-14 02:54] jr0dd commented on #360
I tried that before and it didn’t work a few weeks back. I’ll try again. Thanks!

[2021-10-02 15:14] netom opened #392 "GetCapacity reports zero when using non-root dataset"
**What steps did you take and what happened:**

I created a StorageClass with the poolname "rpool/LOCALPV", and volumeBindingMode: WaitForFirstConsumer, then tried to start pods with PVCs using this SC.

**What did you expect to happen:**

CSIStorageCapacity objects containing non-zero "capacity" field should have been created.

**The output of the following commands will help us better understand

[2021-10-05 14:54] #392 closed, assigned to nobody

[2021-10-06 11:49] mazocode opened #394 "error generating accessibility requirements"
**What steps did you take and what happened:**
Tried to create a new volume with a WaitForFirstConsumer storage class.

**What did you expect to happen:**
Volume created.

**Anything else you would like to add:**
Creating the volume failed with the following message:

`failed to provision volume with StorageClass "local-blk-hdd": error generating accessibility requirements: topology labels from se

[2021-10-06 13:51] almereyda commented on #219
If you know how this is been done, can you write a little outline naming the individual steps, that are generic and independent from Velero to you? I'm interested in seeing generic approaches to backing up PVs supported by ZFS, which are not tied to a specific vendor's application.

Also [syncoid](https://github.com/jimsalterjrs/sanoid/) comes to mind, which is also suggested in https://github.com

[2021-10-06 13:55] almereyda commented on #356
Which of the additional features from the 2.x series would you need supported in this CSI driver, in case they are not automatically activated and in use by syntactic compatibility of the `zpool` and `zfs` commands? I.e., if not specified, the new Zstd compression should be in use automatically.

From https://github.com/openzfs/zfs/releases I can see, that e.g. the InfluxDB support of the 2.1 rele

[2021-10-08 05:31] pawanpraka1 commented on #394
@mazocode we need to add this feature(https://github.com/openebs/lvm-localpv/pull/110/files) to zfs-localpv, where we can limit what are all the topology keys we want to register.

[2021-10-18 00:43] liyimeng opened #397 "Can csi snapshoptter be used in velero backup?"
**Describe the problem/challenge you have**
[A description of the current limitation/problem/challenge that you are experiencing.]

Try to keep it simple

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
velero can use CSI Snapshot for backup according to this https://velero.io/blog/csi-integration/
can zfs-localpv use this feature without needing

[2021-10-27 18:29] Crespalvaro commented on #235
Im sorry to repoen this but as Im experiencing the same "exact" issue without being able to find a solution I guess I need your help.

I already worked with this project in k0s and everything went fine. Updated in [zfs-operator](https://openebs.github.io/charts/zfs-operator.yaml) k0s kubelet location and worker. Now, as k0s its not so good with hybrid clusters containing windows workers (to avoid

[2021-10-28 05:26] pawanpraka1 commented on #235
@Crespalvaro  can you paste the openebs-zfs-plugin container log from the daemonset pod? Also I need the o/p of `kubectl get csinode -oyaml`.

[2021-10-28 06:21] Crespalvaro commented on #235
@pawanpraka1 here is the plugin container log
[plugin-log.txt](https://github.com/openebs/zfs-localpv/files/7431614/plugin-log.txt)

Ouput from `kubectl get csinode -oyaml`:
[csinode.txt](https://github.com/openebs/zfs-localpv/files/7431629/csinode.txt)

[2021-10-28 07:19] pawanpraka1 commented on #235
@Crespalvaro it seems like driver registration is not happening. Can you delete all the csinodes CR and restart all the zfs node daemonset pods?

Can you also share the o/p of this `kubectl get pods -n kube-system -l role=openebs-zfs -owide`.

[2021-10-28 07:38] Crespalvaro commented on #235
@pawanpraka1 Yeah I thought about it but was not sure about deleting the csinodes as I didnt know where they come from.

After deleting
[code]
[code]

[2021-11-08 15:32] skoef opened #398 "filesystems not removed after zpool was offline"
**What steps did you take and what happened:**
A machine of ours that is running the zfs-localpv driver recently had an issue with the zpool that took some time to investigate. In the meantime, no productions pods were scheduled on this machine, but it was online. An operator running in the cluster regularly creates and removes snapshots and kept doing so during the outage.

Creating new snapshots

[2021-11-15 10:57] dalbani opened #400 "No volume created with binding mode "WaitForFirstConsumer""
Hello,

I wanted to deploy a multi-node workload with anti-affinity rules, so I supposed that I needed to use a storage class with `volumeBindingMode: WaitForFirstConsumer`, right?
As mentioned on <https://github.com/openebs/zfs-localpv#scheduler>:

But if I do that, the 3 ReadWriteOnce PVCs stay on `phase: Pending` and no PV are created.
And the 3 pods report: `0/3 nodes are available: 3 node(s)

[2021-11-15 12:26] dalbani commented on #400
While searching for `WaitForFirstConsumer` in the bug list, I saw: https://github.com/openebs/zfs-localpv/issues/392.
My problem is thus probably related to capacity:
[code]
The underlying problem has apparently been fixed last month with https://github.com/openebs/zfs-localpv/pull/393.
Is there a way I could try with a non-released Docker image of `openebs/zfs-driver`?
I don't see any recent buil

[2021-11-15 15:06] dalbani commented on #400
Well, using the `ci` tag of the `openebs/zfs-driver` image, the appropriate capacity is returned.
And the PVs get created as and where they should.
I'll do some more testing, but it looks like my issue is (already) fixed.

[2021-11-16 07:58] pawanpraka1 commented on #400
@dalbani, would you like to mention your use case in our Adopters.md openebs/openebs#2719.

[2021-11-24 11:06] pawanpraka1 commented on #398
@skoef was the pool offline when the snapshot was deleted by the operator? The driver expects that pool is always online and it goes ahead and checks that snapshot is present or not, if snpashot is not present, the driver will throw this error `destroy: snapshot pvc-24bf1c9a-5858-4e81-be77-822d42bcbc55 is not present` and will go ahead the clean up the ZFSSnapshot object.

[2021-11-24 11:08] skoef commented on #398
That's exactly the point @pawanpraka1, the driver can't tell the difference between this particular ZFS snapshot being in fact already deleted or the entire zpool is not imported at that point. So the ZFSSnapshot objects get deleted leaving the actual ZFS snapshots dangling as soon as the pool comes online again.

[2021-11-24 11:14] pawanpraka1 commented on #398
@skoef This is a new feature request, I will add this to our road map.

[2021-11-25 06:41] pawanpraka1 commented on #394
fixed via https://github.com/openebs/zfs-localpv/pull/395.

[2021-11-25 06:41] #394 closed, assigned to nobody

[2021-11-26 09:34] rudolfbyker commented on #152
Is this documented somewhere? The README still seems to suggest that only ReadWriteOnce is supported.

[2021-11-28 15:41] t3hmrman commented on #356
Just want to note that `zfs-localpv` does work with ZFS 2.x -- I'm running v2.1.1-1:

[code]

`zstd` can't be specified as a `compression` setting but it can indeed by used by default (assuming your pool is set up correctly and you don't specify `compression` on the storage class). I've confirmed:

[code]

As far as workloads I've run `fio` and `pgbench`with no problems (and of course other actual

[2021-11-29 10:02] pawanpraka1 commented on #152
@rudolfbyker it supports ReadWriteOnce only, but you can make multiple pods use the same pvc via shared mount setting in the storageclass. See this https://github.com/openebs/zfs-localpv/blob/develop/docs/storageclasses.md#storageclass-for-sharing-the-persistence-volumes.

[2021-11-29 10:04] pawanpraka1 commented on #356
thanks @t3hmrman for confirming this. I will add support for zstd compression. We just need to update the validation list and add zstd also in the list.

[2021-11-29 10:13] rudolfbyker commented on #152
Ah, sorry. I got confused between `ReadWriteOncePod` and `ReadWriteOnce`. https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes

[2021-11-29 16:34] #356 closed

[2021-11-30 19:50] HenningCash commented on #360
I just had to do this on a bare Ubuntu machine with k3s and adopting existing datasets works as expected. I had to set the datasets mountpoint to `legacy` beforehand. Otherwise, the mount will be empty (`zfs set mountpoint=legacy my-pool/my-dataset`).

[code]

[2021-12-22 07:34] pawanpraka1 commented on #397
@liyimeng yes, CSI Snapshot can be used for backup.  We can use the velero CSI plugin for backing up the data. Just a note here, the data will be backed up locally only as it will be backed up as a zfs snapshot.

[2022-01-06 06:23] pawanpraka1 commented on #400
fixed via https://github.com/openebs/zfs-localpv/pull/393

[2022-01-06 06:23] #400 closed, assigned to nobody

[2022-01-10 11:11] Blackclaws opened #402 "PV auto-naming by namespace/pvc name"
**Describe the problem/challenge you have**
The pv/dataset names do not map easily to pvcs when looking purely at the zfs datasets and not having the kubectl output to compare.

**Describe the solution you'd like**
Allow a naming scheme for datasets that follows: namespace/pvc-name-uuid (for deduplication purposes on recreating previously bound volumes). This would allow you to easily pick out the

[2022-01-10 12:25] pawanpraka1 commented on #273
This issue not valid now. Closing this one.

[2022-01-10 12:25] #273 closed

[2022-01-10 12:32] #72 closed

[2022-01-10 17:49] ginn13 opened #403 "Multiple zpools per node"
**Describe the problem/challenge you have**
I need to dynamically provision zfs-backed volumes without redundancy (just single zfs dataset per physical disk). Though it could be simply accomplished with zfs-provisioner on a different nodes, I cannot have more than one volume on a single node, because of StorageClass needs a poolname parameter. So that StorageClass is limited to only one zpool per

[2022-01-17 17:22] pawanpraka1 commented on #403
Why you can't have more that one volume?  Poolname in the Storageclass specify that we need to carve out the volume space from that pool. We can have multiple volume provisioed in a single pool via single storage class. Can you elaborate your use case.

[2022-02-11 17:00] Azenet opened #404 "Volumes are not removed after PV is deleted with Retain reclaimPolicy"
**What steps did you take and what happened:**
1. Create a PVC with a storageclass that has Retain as a reclaimPolicy, bind it to a pod
2. Delete the pod and the PVC
3. Delete the PV that was retained

**What did you expect to happen:**
The underlying zfsvolume gets deleted as the PV is deleted.

**The output of the following commands will help us better understand what's going on**:
<details><sum

[2022-02-21 05:08] pawanpraka1 commented on #404
@Azenet this is the expected behavior. If you are using reclaim policy as Retain, you need to do the cleanup manually.

Could you help me understand what is your use case to use the Retain policy if you are deleting the PV manually?

[2022-02-21 20:38] Azenet commented on #404
@pawanpraka1 My use case is a safeguard against accidental deletion on my single-tenant test cluster. Apparently I had missed that this was the expected behavior across kubernetes volumes to keep the underlying data once a Retain PV is deleted, thank you for the confirmation!

[2022-02-21 20:38] #404 closed, assigned to nobody

[2022-03-18 21:40] kic68 opened #405 "[SOLVED] Cannot share PVC with multiple pods (err: already mounted on other pod)"
**What steps did you take and what happened:**

First of all, everything else is working fine, just sharing between pods is not. I want to mount it read/write in the first pod and read only in the second pod.

When I create a PVC I can perfectly use it on the first pod. Adding it to a second one, always results in a message like

```  Warning  FailedMount  5s (x6 over 21s)  kubelet            Moun

[2022-03-25 13:59] saltperfect commented on #283
I would like to work on this issue. Adding a description would help here.

[2022-03-28 14:31] #398 closed, assigned to pawanpraka1

[2022-03-28 14:35] skoef commented on #398
thanks a lot @pawanpraka1!

[2022-04-04 15:19] RytisLT opened #407 "Is it possible to create dataset with specified name?"
tldr; Can I create some set of Kubernetes Resources that would cause a creation of a `Dataset`  with custom name?

If I use `PersistenceVolumeClaim` + `StorageClass` to dynamically provision a `PersistentVolume`, the newly created `PersistentVolume` is named `pvc-{uuid}` and a corresponding `Dataset` is created in the `ZPool`. As far as I understand the naming convention cannot be changed, because

[2022-04-04 15:29] pawanpraka1 commented on #407
@RytisLT it seems like you are creating the ZFSVolume CR with status as Ready. Can you use status as Pending and then try?

[2022-04-04 17:05] RytisLT commented on #407
I've omitted the status altogether in my first attempt. I've re-created all Resources and used Status Pending. I've got same error and ZV stays in Pending

[2022-04-04 17:11] pawanpraka1 commented on #407
can you shared the ZFSVolume CR, pvc and pv yamls?

[2022-04-04 17:38] RytisLT commented on #407
sure thing:

edit: added namespace to pod.yaml

    #pv.yaml
    ---
    apiVersion: v1
    kind: PersistentVolume
    metadata:
      finalizers:
      - kubernetes.io/pv-protection
      name: task-pv-volume
    spec:
      accessModes:
      - ReadWriteOnce
      capacity:
        storage: 5Gi
      csi:
        driver: zfs.csi.openebs.io
        fsType: zfs
        volumeAttributes:

[2022-04-04 17:56] pawanpraka1 commented on #407
@RytisLT Perfect. Can you remove the finalizer from the ZFSVolume CR and then try.
[code]

[2022-04-04 18:03] RytisLT commented on #407
🥳🥳🥳🥳🥳🥳🥳
That did it!! Thanks!

[2022-04-04 18:03] #407 closed, assigned to nobody

[2022-04-04 18:04] RytisLT commented on #407
BTW the finalizer was added automatically after the volume transitioned to Ready state

[2022-04-04 18:07] pawanpraka1 commented on #407
Yes, that is why it should not be added before. Here since finalizer was already there, the driver will not attempt to create the volume. Removing that while applying the yaml fixed the issue and the driver will go ahead and add the finalizer once the volume is created..

[2022-04-04 18:11] pawanpraka1 commented on #407
@RytisLT would you like to mention your use case in our adopters(https://github.com/openebs/openebs/issues/2719) file.

[2022-04-04 18:16] RytisLT commented on #407
sure thing!

[2022-04-04 20:09] RytisLT commented on #407
@pawanpraka1 one more related question, If I want to prevent deletion of `Dataset` when `ZFSVolume` is deleted do I just simply remove the finalizers from `ZV` or is there another mechanism to prevent that?

[2022-04-05 03:34] pawanpraka1 commented on #407
@RytisLT you can add your own finalizer while creating the ZFSVolume CR.

[2022-04-05 10:03] w3aman commented on #405
Hi @kic68 Looks like you are trying to mount read only with second pod, which in first pod is already in read write mode. This doesn't seem to be possible with limitation that, zfs will not mount read only dataset with read write one.

Can you once try by removing this `readOnly: true` in second pod yaml and let us know if that helps?

[2022-04-05 10:33] kic68 commented on #405
Dear @w3aman ,
now I am feeling a bit embarrassed. You are totally right, after removing `readOnly: true` everything works as desired:
[code]

I didn't know setting to `readOnly` is not possible when another pod has read-write access.

Many many thanks for your help!
Best,
Torben

[2022-04-05 10:33] #405 closed, assigned to w3aman

[2022-04-08 12:22] giomf commented on #217
This would be a good feature that allows backup strategies that use syncoid for example. Currently it is quite tedious to restore the backups to zfs-localpv.

[2022-04-08 14:05] giomf opened #408 "Importing existing Volume - Not mounted"
**What steps did you take and what happened:**
I am currently testing the case of losing the entire cluster except for the volumes. in the docs it says how to import existing datasets. Unfortunately I fail when mounting the volumes in the new pod. A few details follow.

The dataset I want to import is on *worker-a1* and is called *test*:
[code]
My Storageclass is already deployed:
[code]

First, a

[2022-04-08 14:35] pawanpraka1 commented on #408
@Giom-fm what is the state of the application? is it in containercreating state? Also can you share the full log of the node daemonset?

[2022-04-08 15:46] giomf commented on #408
Hey thanks for your response,

the state of the application is:
[code]
The full nodelog is over [here](https://gist.github.com/Giom-fm/33ea70e30ff50e0dd2726b33ee90fa33).
It is quite long because I have tried it several times.

[2022-04-08 16:30] pawanpraka1 commented on #408
@Giom-fm you have to umount the volume first before attaching itto ZFS-LocalPV. See this https://github.com/openebs/zfs-localpv/blob/develop/docs/import-existing-volume.md#step-1--create-the-persistence-volume.

[code]

[2022-04-08 16:42] giomf commented on #408
Hey,
it was unmounted but I tried so often that the log was flooded.
I flushed the logs. Even though it say its mounted, zfs say it is still not mounted.

[code]

This is the result of *mount* in the container. I dont know why it says `/dev/sda1 on /mnt/data type ext4 (rw,relatime,errors=remount-ro)`
[code]

[2022-04-08 16:48] pawanpraka1 commented on #408
That is fine as ZFS-LocalPV uses legacy mount commands. You can check by `zfs get mountpoint`, it should say legacy.

I can see in the log that it is mounted correctly. You can check the same from the node.

[code]

[2022-04-08 16:52] pawanpraka1 commented on #408
Also from the node you can check `mount | grep test-pv` command to verify whether it is mounted or not.

[2022-04-08 17:02] giomf commented on #408
In fact, the mountpoint is not set as legacy. It is set to a value in the kublet folder. I have checked this and it is valid

[code]
`mount | grep test-pv `  does not show anything so its not mounted.

[2022-04-08 17:04] pawanpraka1 commented on #408
Strange!!! where did you run the mount command? You have to run the command from the host (not inside the container).

[2022-04-08 17:07] giomf commented on #408
Yes I have run the mount command on worker-a1 so yes on the host.

[2022-04-08 17:07] pawanpraka1 commented on #408
can you also verify whether data that is written is persistent or not by restarting the pod.

[2022-04-08 17:14] giomf commented on #408
If I write some data from the pod I don't see USED in `zfs list` increasing.
I was not able to recreate the pod because the pods hangs on terminating status.

[2022-04-08 17:18] pawanpraka1 commented on #408
@Giom-fm can you try to set the mountpoint to legacy before deploying the application pod. You can use below command to do that `zfs set mountpoint=legacy zpool/test`.

[2022-04-09 09:46] giomf commented on #408
Ok
after resetting the cluster because the pod doesn't want to be terminated (I have the feeling that this is also due to openebs, but it's a different problem now) I manually set the mountpoint to legacy and it works as expected.

I think this should either be included in the docs or zfslocal-pv should do this for all volumes itself.

Edit: now that the mountpoint is correct, the pod ist terminat

[2022-04-09 12:08] pawanpraka1 commented on #408
@Giom-fm would like to raise a PR to fix the doc issue.

[2022-05-06 11:14] ptthon opened #410 "adding encryption in ZFSVolume CR,volume creation failed"
[feat(ZFSPV): adding encryption in ZFSVolume CR](https://github.com/openebs/zfs-localpv/pull/6)
According to the following steps to create the PVC failed
Steps are as follows:
1. truncate -s 100G /tmp/disk.img zpool create zfspv-pool `sudo losetup -f /tmp/disk.img --show`
root@master3:~# zfs list
NAME                                                  USED  AVAIL  REFER  MOUNTPOINT
zfspv-pool

[2022-05-06 11:16] pawanpraka1 commented on #410
Can you share the node daemonset log also?

[2022-05-06 11:25] ptthon commented on #410
I0506 11:23:09.221454       1 volume.go:123] Got add event for ZV zfspv-pool/pvc-b605df95-05d2-45a8-8b89-0833a23b7c8b
E0506 11:23:09.243247       1 zfs_util.go:424] zfs: could not create volume zfspv-pool/pvc-b605df95-05d2-45a8-8b89-0833a23b7c8b cmd [create -s -V 4294967296 -o dedup=on -o compression=on -o encryption=on -o keylocation=file:///home/keys/key -o keyformat=hex zfspv-pool/pvc-b605df95-

[2022-05-06 11:29] pawanpraka1 commented on #410
What is the zfs version?

[2022-05-06 11:38] ptthon commented on #410
zfsutils-linux version is 0.7.5-1ubuntu16.12
zfs-localpv url is https://openebs.github.io/charts/zfs-operator.yaml,the version maybe is newest

[2022-05-06 11:41] pawanpraka1 commented on #410
@ptthon you need zfs 0.8 or higher version to have encryption. It will not work on zfs 0.7.

[2022-05-06 11:46] ptthon commented on #410
I understand, thank you very much!

[2022-05-06 12:14] #410 closed, assigned to nobody

[2022-05-10 06:36] ptthon opened #411 "@ptthon you need zfs 0.8 or higher version to have encryption. It will not work on zfs 0.7."
@ptthon you need zfs 0.8 or higher version to have encryption. It will not work on zfs 0.7.

_Originally posted by @pawanpraka1 in https://github.com/openebs/zfs-localpv/issues/410#issuecomment-1119527782_

I have update zfs,now zfs version is:
zfs-2.1.2-1
zfs-kmod-2.1.2-1

but create encrypted volume failed

openebs-zfs-node log is:
I0510 06:33:50.454231       1 volume.go:123] Got add event for Z

[2022-05-10 07:33] pawanpraka1 commented on #411
@ptthon can you manually try to create encrypted volume on the node? Also please make sure all the nodes are upgraded to zfs 2.1.2.

[2022-05-10 08:10] ptthon commented on #411
I can manually  create encrypted volume on the node,but only one node zfs version is 2.12,I will try all nodes ZFS upgrade to 2.1.2

[2022-05-10 08:17] pawanpraka1 commented on #411
yes, please upgrade all the nodes.

[2022-05-17 18:06] TheRealNoob opened #412 "[bug] failed to parse volsize"
**What steps did you take and what happened:**
When trying to expand a PVC we get an error `failed to parse volsize in for prometheus-0, {strconv.ParseInt: parsing "300Gi": invalid syntax}`.  We also tried `300Gb` and `300G`.  The PVC in question being for prometheus from the [kube-prometheus-stack](https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack) helm ch

[2022-05-28 12:18] nahsi opened #413 "Complience with CSI spec?"
Is this project build around K8S API or does it comply with CSI spec? The whole idea of CSI is to make software platform agnostic after all.

[2022-06-03 17:26] milesbxf opened #414 "node agent: allow running out of cluster using $KUBECONFIG"
**Describe the problem/challenge you have**

I'm running openebs/zfs-localpv on NixOS. I've been unable to get the node agent running in-cluster, since the node agent requires access to the `zfs` binary on the node. NixOS stores binaries in very non-standard locations, and I wasn't successful in modifying the zfs-chroot configmap to get it working. I realised that whilst unconventional, it'd be fa

[2022-06-09 06:24] dhs-rec opened #415 "PVC stays in PENDING state on minikube"
**What steps did you take and what happened:**
After setting up a Kubernetes playground with `minikube` on an Ubuntu system that runs on top of ZFS, I installed this storage manager following instructions on the project page, created a ZFS dataset `data/kubernetes` and a storage class using
[code]
Then I tried to create a PVC using
[code]
which is created but stays in PENDING state.

**What did yo

[2022-06-09 07:31] chinglinwen opened #416 "volumesnapshot restoreSize is not set when returning from createSnapshot response"
**What steps did you take and what happened:**

create volumesnapshot, cause later create PVC(which source is snapshot) failed ( because of zero storage.size )

[code]

[code]

[code]

**What did you expect to happen:**

restoresize should have been set
[code]

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https:/

[2022-06-10 05:48] pawanpraka1 commented on #415
@dhs-rec have you installed zfs utils on the node. It seems like zfs utils are not there.

[2022-06-10 06:09] dhs-rec commented on #415
Sure. As I wrote above: This is a single host install using minikube. How should I have created the dataset if the command was not there? It's `/sbin/zfs`.

[2022-06-10 06:21] pawanpraka1 commented on #415
@dhs-rec did you install the zfs utils after the ZFS-LocalPV deploymnet? Can you restart all the daemonset pods and then try?

[2022-06-10 06:25] dhs-rec commented on #415
No, I didn't. ZFS utils were already there since the system is running purely on ZFS. Will restart the pods anyway...

[2022-06-10 06:29] pawanpraka1 commented on #415
Also, can you exec into one of the node daemonset pod and look for `ls -l /host/sbin/zfs`? See if it is present there or not?

[2022-06-10 07:07] dhs-rec commented on #415
[code]
Just in case it might help:
[code]

[2022-06-10 07:21] pawanpraka1 commented on #415
@dhs-rec how did you install the ZFS-LocalPV (operator yaml or helm)? did you modify anything there?

Can you also run this command  `which zfs` on the node and paste the output here.

[2022-06-10 07:25] dhs-rec commented on #415
By using the command on the project page:
[code]
Didn't do any modification.

[2022-06-10 07:44] dhs-rec commented on #415
[code]
(I restarted from scratch, hence the different node name. But problem still persists.)

[2022-06-10 09:06] pawanpraka1 commented on #415
can you run this on the node :

`which zfs`

Also, can you exec inside the node daemonset and do `ls /host`.

I want to see why the binary is not available inside the daemonset pod.

[2022-06-10 09:20] dhs-rec commented on #415
[code]

[2022-06-10 09:27] pawanpraka1 commented on #415
@dhs-rec we mount root(/) directory from node as /host inside the container.  Can you check this also

`kubectl exec openebs-zfs-node-5wvj7 -n kube-system -c openebs-zfs-plugin -i -t -- ls /host/sbin`

and

`kubectl exec openebs-zfs-node-5wvj7 -n kube-system -c openebs-zfs-plugin -i -t -- ls /host/sbin/zfs`

Need to check if root mount is there then why zfs binaries are not there.

[2022-06-10 09:32] dhs-rec commented on #415
[code]

[2022-06-10 09:43] pawanpraka1 commented on #415
this is weird. On the node, zfs binary is present at the path /sbin/zfs. Node daemonset has mounted / on /host inside the container, so the path inside the container should be /host/sbin/zfs, but it is not present there. Strange!!

Can you do `ls -l /sbin/zfs` on the node to check the permission?

[2022-06-10 09:46] dhs-rec commented on #415
Sure
[code]

[2022-06-10 09:51] dhs-rec commented on #415
Hmmm, there are many more commands missing in /host/sbin as compared to the host's /sbin: xfs-repair, zpool, zvol-wait... (that's just from the end of the list).

[2022-06-10 09:56] dhs-rec commented on #415
OK, guess I found the reason:
[code]
But there's no such symlink on the host.

[2022-06-10 09:59] dhs-rec commented on #415
OK, what is mounted into the node container is the root of the minikube container:
[code]

[2022-06-10 10:04] dhs-rec commented on #415
Yep, indeed. After installing `zfsutils-linux` into that container the PVC becomes ready.

[2022-06-10 10:09] dhs-rec commented on #415
OK, so I was erroneously thinking that the cluster setup by minikube was running on the host, but it's really running completely inside that container.
Will ask them to add `zfsutils-linux` to it...
Thanks a lot for your patience.

[2022-06-10 11:56] #415 closed, assigned to nobody

[2022-06-12 16:09] jr0dd opened #417 "sigs versions and crds"
**Describe the problem/challenge you have**

I noticed that the sigs deps are a little behind in the chart. The snapshotter for example is currently at 6.0.1 while the chart is still on 4.0.0. Not a huge deal when it comes to image tags in the chart because that can simply be changed. The issue is that you also include the crds for the snapshotter. Issues may arise from using the older crd's inclu

[2022-06-16 12:35] pawanpraka1 commented on #416
@chinglinwen snapshot size is optional in CSI spec. how size is being used in creating the clone for ZFS volume? do we need size there? all we need to do is this
`zfs clone tank/ws/gate@yesterday tank/home/ahrens/bug123`.

[2022-06-16 12:39] pawanpraka1 commented on #412
@TheRealNoob how did you get the ZFSVolume size in Gi? Did you create the CR manually? ZFSVolume CR gets create the ZFS-LocalPV driver and it should be in bytes only.

[2022-06-16 12:41] chinglinwen commented on #416
I think if restore size is zero, will cause kubevirt creating kubernetes pvc failed ( I think it's restrict by kube-apiserver validation for pvc object).

I've fixed in my local repo, and after return the size, kubevirt works properly(creating pvc success).

[2022-06-16 12:46] pawanpraka1 commented on #416
@chinglinwen sounds good. Would you like to raise a PR for that?

[2022-06-16 12:52] chinglinwen commented on #416
sure.

[2022-06-18 16:51] hrenard opened #420 "High CPU usage / ZFSNode syncing error"
**What steps did you take and what happened:**
The zfs-localpv-node is permanetly using 1 CPU.

**What did you expect to happen:**
Not using as much resources.

**The output of the following commands will help us better understand what's going on**:
[Gist](https://gist.github.com/hrenard/4e0200dad805b56ece6bf0ab582e1031)

**Anything else you would like to add:**
The process using the CPU:
[code]
I

[2022-07-14 13:35] #408 closed, assigned to nobody

[2022-07-22 15:07] TheRealNoob commented on #412
You're correct.  Sorry for the false report.  Closing issue.  On a side note, I have been looking for a section that highlights documentation to this extent.  Is there such a page you may know of?

[2022-07-22 15:07] #412 closed, assigned to nobody

[2022-08-02 13:20] ginn13 commented on #403
@pawanpraka1, case is: multiple zpools per node. I would like to have ZFSVolume on any of N zpool per single node. However, StorageClass is stick to zpool name, so to the only one zpool on a node.

[2022-08-17 12:10] tahajahangir opened #423 "Option to choose `refquota` zfs field to apply quotas"
**Describe the problem/challenge you have**
Currently, PVC sizes are applied using zfs `quota` field. This way, taking snapshot of a volume, decreases the available space of the PVC. I think this is not the desired behavior for many users.

**Describe the solution you'd like**
A simple solution is using `refquota` instead of `quota`.
A better solution is adding an option (operator-wide, per Storag

[2022-09-04 21:47] jackmurray opened #424 "Non-privileged container"
Having had a quick look over the manifest yaml, it looks like the operator container runs in privileged mode. Are there any plans to support running without this, and instead allow running as a restricted user (with permissions granted via `zfs allow`)? As it stands it seems like a huge security risk to run as essentially root.

[2022-09-15 09:50] rdegez commented on #423
We have the exact same issue and I wonder how many people are actualy using snapshots in production without this!

[2022-09-19 09:34] garweyYeh opened #425 "in kubevirt, cannot be resize in running vm"
![image](https://user-images.githubusercontent.com/44438145/190989636-e8f2c2d9-1fa1-43bc-9e7e-8da214b872f5.png)

[2022-09-25 22:36] almereyda commented on #291
There is PR about the subject, which is not yet linked from here, nor does itself link to here:

- #336

It could possibly be considered a follow-up to @pawanpraka1 previous comment above.

[2022-09-28 07:45] Icedroid commented on #425
I meet the same problem. We can't resize for block pvc as follow:
https://bytemeta.vip/repo/openebs/zfs-localpv/issues/280?page=2

[2022-09-28 08:13] pawanpraka1 commented on #425
@Icedroid that issue (https://github.com/openebs/zfs-localpv/issues/280) is fixed. The error mentioned in this issue is not coming from the ZFS-LocalPV driver. This seems like kubelet is throwing that error. Can you check if there is anything wrong from cluster setup side?

[2022-09-29 07:38] joseftschiggerlnts opened #426 "/home/keys permission"
**Describe the problem/challenge you have**
When using the StorageClass with encryption enabled the directory /home/keys gets created with the key placed inside.
I believe that the keys directory should not be created with the default 0755 permission but with e.g. 0700 as only root needs to be able to access the key and no other user.

**Describe the solution you'd like**
Tighter permissions for /

[2022-10-28 01:14] mattlqx opened #427 "Can't clone PVC that is from an encrypted storage-class"
**What steps did you take and what happened:**

I created a StorageClass that has encryption enabled via parameters.

[code]

A PVC was created with that StorageClass and it does have encryption enabled:

[code]

[code]

But creating a PVC with that PVC as the source gives an error that `encryption` is read-only.

[code]

**What did you expect to happen:**

I expected a new PVC with `dataSource`

[2022-10-28 01:21] mattlqx commented on #427
Annnnd nevermind. The right thing to do is not to specify `encryption` as a parameter at all in the StorageClass and have it inherit from the parent volume. This wasn't immediately apparent to me since I had to explicitly specify `encryption` when doing a `zfs receive` in the past.

[2022-10-28 01:21] #427 closed, assigned to nobody

[2022-11-22 16:15] privatecoder opened #428 "missing zvol (that exists in "zfs list")"
**What steps did you take and what happened:**

Volume created through StorageClass

<img width="1353" alt="image" src="https://user-images.githubusercontent.com/45964815/203341559-a762ee49-1deb-4559-8c01-8b96d4bd1f34.png">

<img width="1355" alt="image" src="https://user-images.githubusercontent.com/45964815/203341658-b8e4a268-2172-4682-bd35-42365dddf074.png">

on the node via `zfs list`:

<img w

[2022-11-22 16:40] privatecoder commented on #428
changing `volmode=default` (which defaults to `full`/`geom`) to `volmode=dev` for the pool fixes the issue.

[2022-11-28 17:59] nlflint commented on #403
I'm pretty sure this functionality already exists. It should be possible for you to apply a second StorageClass and then reference a different zpool in its definition. Then, reference this other storage class in your PV/PVC. I haven't done it before, but I don't see why it wouldn't work.